// ===================
// Vantasia spesific styling
// ===================

.vantasia-hero-image {
    object-fit: cover;
    object-position: top;
    max-height: 100%;
}

.vantasia-logo-container {
    margin: 0 auto;
}

.vantasia-logo {
    max-height: 135px;
    max-width: 348px;
    width: 100%;
}

.vantasia-hero-container {
    background-color: black;
    position: relative;
}

.vantasia-hero-top {
    height: 40vh; // Top 25vh + bottom 75vh = 100 vh
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    p {
        color: #fff;
        text-align: center;
        padding: 15px;
    }
}

.vantasia-hero-bottom {
    height: 60vh;

}

.vantasia-media-container {
    background-color: #dedede;
}

.vantasia-video-wrapper {
    // Container for iframes with 16:9 aspect ratio and with 750 max width
    max-width: 750px;
    margin: 0 auto;
}

.vantasia-media-column {
    padding-bottom: 0;
}

.vantasia-image-gallery {
    display:flex;
    flex-flow: wrap;
    margin: 0 -20px; // Offset the padding of container (20px) for full screen images

    .vantasia-media-container:first-child {
        flex: 100%;
        max-width: 100%;
        max-height: 850px;

        img {
            vertical-align: middle;
            width: 100%;
        }
    }

    .vantasia-media-container:not(:first-child) {
        flex: 1;
        max-width: 100%;
        flex-basis: 500px;

        img {
            vertical-align: middle;
            width: 100%;
        }
    }
}

.vantasia-video-container {
    position: relative;
    padding-bottom: 56.25%;
    margin: 0 auto;
    max-width: 100%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.vantasia-contact-info {
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    margin: 0 auto;

    .vantasia-contact-person {
        flex-grow: 1;
        padding: 25px;
        text-align: left;
    }
}

.vantasia-contact-image,
.vantasia-contact-text {
    display:inline-block;
}

.vantasia-person-icon {
    width: 65px;
    border: 1px solid black;
    background-color: #dedede;
}

.vantasia-contact-text {
    margin-left: 20px;
    p {
        margin: 0;
        text-align: left;
    }
}

.vantasia-nav-menu {
    transition: all 0.2s ease-in-out;
}