// ===================
// Vantasia spesific styling
// ===================

.vantasia-hero-image {
    object-fit: cover;
}

.vantasia-logo {
    margin: 0 auto;
    max-height: 135px;
}

.vantasia-hero-container {
    background-color: black;
    position: relative;
}

.vantasia-hero-top {
    height: 40vh; // Top 25vh + bottom 75vh = 100 vh
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    p {
        color: #fff;
        text-align: center;
        padding-top: 15px;
    }
}

.vantasia-hero-bottom {
    height: 60vh;
}

.vantasia-media-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    background-color: #dedede;

    .vantasia-media-icon {
        max-width: 250px;
        margin: 0 auto;

    }
}

.vantasia-media-fullwidth {
    // Offset the .container 20px padding to achieve full width image
    margin: 0 -20px;
}

.vantasia-contact-info {
    display: flex;
    flex-wrap: wrap;

    .vantasia-contact-person {
        flex-grow: 1;
        padding: 10px;
    }
}

.vantasia-left-align {
    display: inline-block;
    text-align: left;
}

.vantasia-contact-image,
.vantasia-contact-text {
    display:inline-block;
}

.vantasia-person-icon {
    width: 65px;
    border: 1px solid black;
    background-color: #dedede;
}

.vantasia-contact-text {
    margin-left: 20px;
    p {
        margin: 0;
        text-align: left;
    }
}