// ===================
// Vantasia spesific styling
// ===================

.vantasia-hero-image {
    object-fit: cover;
}

.vantasia-logo {
    margin: 0 auto;
    max-height: 135px;
}

.vantasia-black-bg {
    background-color: black;
}

.vantasia-hero-top {
    height: 40vh; // Top 25vh + bottom 75vh = 100 vh
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    p {
        color: #fff;
        text-align: center;
        padding-top: 15px;
    }
}

.vantasia-hero-bottom {
    height: 60vh;
}