// ===================
// Layout and positioning the overall site
// ===================

.main-container {
    min-height: calc(100vh - 1.5rem - 50px); /* Full view height minus footer (1.5rem) and back to top button (50px) */
    position: relative;
}

.header {
    display: flex; /* Flex for vertical positioning the content */
    flex-direction: column;
    height: calc(90vh - 116px); /* 116px is the height of the navigation */
    justify-content: center;
}

.header-content {
    width: 90%;
    margin: 0 auto;
}

.main-header h1 {
    margin-bottom: 1rem;
}

.content {
    margin: 0 auto;
    width: 90%;
}

.content-text {
    width: 90%;
    margin: 1rem auto;

    h1, h2, h3, h4 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    p {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}

.bg-grey { 
    background: $gray-100;
}

.overflow-hidden {
    overflow: hidden;
}

/* Flex content boxes */
.container {
    min-height: 250px;
    position: relative;
    width: 100%;
    padding: 0 20px;

    h1, h2, h3, h4 {
        margin: 0 auto .6em auto;
        max-width: 750px;
    }

    p {
        margin: .5em auto 2em;
        max-width: 750px;
    }

    .btn-left {
        max-width: 750px;
        margin: 0 auto;
    }
    .btn {
        margin-top: auto;
    }
}

.flex-centered {
    display: flex;
    justify-content: center;
}

.column {
    padding: 20px 0;

    .photo {
        padding: 0;
        width: calc(100% + 40px);
        margin-left: -20px;
    }
}

.h-icon-aligned {
    // Class for centering the heading with inline SVG icon (50px wide)
    margin-left: -50px;
}

.content-header {
    display: inline-block;
    margin: 1.4em 0 !important;
}

.subheading {
    margin: 1.5em auto;
}

/* ------ Text styling and positioning ------ */

.tagline {
    color: $gray-300;
}

.xl-heading {
    font-size: 3.815rem;
    margin: 0.1em 0;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

.xl-p {
    font-size: 1.653rem;
}

.subtext {
    font-size: 0.8em;
    color: $gray-300;

    a {
        color: $gray-400;
    }
}

.text-muted {
    color: $gray-400;
}

.text-center {
    text-align: center;
}

.text-left {
    display: inline-block;
    text-align: left;
}

.text-bold {
    font-weight: 700;
}

.text-form-header {
    text-align: center;
    margin: 3rem 0 1rem -25px; /* Left margin for compensating the svg margin */
    font-weight: 300;
}

.accent-red {
    color: $accent-red-700;
}

.top-shadow {
    box-shadow: inset 0 9px 13px -6px rgba(50, 50, 50, 0.2);
}