// ===================
// Layout and positioning the overall site
// ===================

.main-container {
    min-height: calc(100vh - 1.5rem - 50px); /* Full view height minus footer (1.5rem) and back to top button (50px) */
    position: relative;
}

.header {
    display: flex; /* Flex for vertical positioning the content */
    flex-direction: column;
    height: calc(90vh - 116px); /* 116px is the height of the navigation */
    justify-content: center;
}

.header-content {
    width: 90%;
    margin: 0 auto;
}

.main-header h1 {
    margin-bottom: 1rem;
}

.content {
    margin: 0 auto;
    width: 90%;
}

.content-text {
    width: 90%;
    margin: 1rem auto;

    h1, h2, h3, h4 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    p {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}

.bg-grey { 
    background: #dee8df;
}

.overflow-hidden {
    overflow: hidden;
}

/* Flex content boxes */
.f-content {
    display: flex;
    margin: 2em 0;
    padding: 25px 5%;
    flex-direction: column;
    min-height: 250px;
    position: relative;

    h1, h2, h3, h4 {
        margin-bottom: .3em;
    }

    p {
        margin: .5em 0;
    }

    .btn {
        margin-top: auto;
    }
}

.flex-centered {
    display: flex;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.h-icon-aligned {
    // Class for centering the heading with inline SVG icon (50px wide)
    margin-left: -50px;
}

.content-header {
    display: inline-block;
}



/* ------ Text styling and positioning ------ */

.tagline {
    color: #9fa5a5;
}

.subtext {
    font-size: 0.8em;
    color: #9fa5a5;

    a {
        color: #9fa5a5;
    }
}

.text-muted {
    color: #9fa5a5;
}

.text-center {
    text-align: center;
}

.text-left {
    display: inline-block;
    text-align: left;
}

.text-bold {
    font-weight: 700;
}

.text-form-header {
    text-align: center;
    margin: 3rem 0 1rem -25px; /* Left margin for compensating the svg margin */
    font-weight: 300;
}

.accent-red {
    color: rgb(175, 38, 30);
}