// ===================
// Media queries
// ===================

// ------ Medium screens ------ 

 @media (min-width: $bp-m) {

    .navbar ul,
    .navbar li,
    .navbar .nav-img {
        display: inline-block;
    }

    .navbar li {
        padding: 15.8px 15px;
    }

    .nav-web {
        li {
            padding: 16px !important;

        }

        a {
            font-size: 1rem !important;
        }
    }
    
    .nav-img {
        margin-right: 25px;
    }

    #nav-hamburger-container {
        display: none;
    }

    #nav > .nav-menu {
        left: 0;
        height: initial;
        padding-top: 0;
        text-align: center;
    }

    .flex-form-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .input-group {
        max-width: 335px;
    }

    .flex-row {
        display:flex;
        max-width: 750px;
        margin: 0 auto;   
        flex-wrap: wrap;
     
        .flex-column {
            flex: 1;
            padding: 20px;
            min-width: 300px;
        }
    }

    .container {
        display: flex;

        .column {
            flex: 1;
        }
    }

    .nav-section {
        top: -50px;
    }
}