// ===================
// Media queries
// ===================

// ------ Medium screens ------ 

 @media all and (min-width: $bp-m) {

    // ------------
    // NAVIGATION 
    // ------------
    .navbar ul,
    .navbar li,
    .navbar .nav-img {
        display: inline-block;
    }

    .navbar li {
        padding: 15.8px 15px;
    }

    .navbar {
        li {
            padding: 16px !important;

        }

        a {
            font-size: $text-18;
        }
    }
    
    .nav-img {
        margin-right: 25px;
    }

    #nav-hamburger-container {
        display: none;
    }

    #nav > .nav-menu {
        left: 0;
        height: initial;
        padding-top: 0;
        text-align: center;
        background-color: transparent;
    }

    .nav-section {
        top: -50px;
    }

    .nav-offset {
        background-color: $primary-blue-900;
    }

    // ------------
    // FORMS AND FORM INPUTS
    // ------------

    .flex-form-container {
        flex-direction: row;
        align-items: initial;
        flex-wrap: wrap;
        justify-content: center;
    }

    .form-box {
        margin-right: 20px;
        flex: 1;
    }

    .input-group {
        max-width: 335px;
    }

    .flex-row {
        display:flex;
        max-width: 750px;
        margin: 0 auto;   
        flex-wrap: wrap;
     
        .flex-column {
            flex: 1;
            padding: 20px;
            min-width: 300px;
        }
    }

    // ------------
    // GENERAL LAYOUT
    // ------------
    
    .container {
        display: flex;

        ul {
            padding: 0 60px;
        }

        .column {
            flex: 1;
        }
    }

    .cookie-card {
        margin-right: 20px;
    }
}