// ===================
// Variables
// ===================

// Typography
$body-font: 'Karla', sans-serif;

// Colors

$main-orange: #f49104;
$highlight-orange: rgba(244,145,4, 0.3);
$accent-blue: #0E5A9E;
$accent-green: #1e752a;
$accent-red: #77120D;

$nav-green: #0a5c15;
$nav-transparent-bg: rgba(75, 75, 75, 0.9);
$nav-hamburger-boxshadow: rgba(0, 0, 0, 0.2);
$light-orange: #f9f3eb;
$light-blue: #0a7ce7;

$light-gray: #a4a5ae;
$dark-gray: #6d676e;

$light-white: #FCFDFD;
$dark-white: #dee7e7;

$primary-blue-900: #05212E;
$primary-blue-800: #0A425C;
$primary-blue-700: #0F638A;
$primary-blue-600: #1484B8;
$primary-blue-500: #1AA6E5;
$primary-blue-400: #38BDFA;
$primary-blue-300: #6ECCF7;
$primary-blue-200: #9EDDFA;
$primary-blue-100: #E7F7FE;

$accent-yellow-900: #453408;
$accent-yellow-800: #664900;
$accent-yellow-700: #996E00;
$accent-yellow-600: #CC9200;
$accent-yellow-500: #FFB700;
$accent-yellow-400: #FFC533;
$accent-yellow-300: #FFD466;
$accent-yellow-200: #FFE299;
$accent-yellow-100: #FFF1CC;

$accent-red-900: #330A00;
$accent-red-800: #661300;
$accent-red-700: #991D00;
$accent-red-600: #CC2700;
$accent-red-500: #FF3F12;
$accent-red-400: #FF6E4C;
$accent-red-300: #FF9880;
$accent-red-200: #FFAC99;
$accent-red-100: #FFEAE5;

$accent-green-900: #033014;
$accent-green-800: #075F28;
$accent-green-700: #0A8F3C;
$accent-green-600: #0EBE50;
$accent-green-500: #11EC63;
$accent-green-400: #41F183;
$accent-green-300: #70F5A2;
$accent-green-200: #A0F8C1;
$accent-green-100: #E7FDEF;

$gray-900: #0F1424;
$gray-800: #2E3638;
$gray-700: #455154;
$gray-600: #5C6B70;
$gray-500: #73868C;
$gray-400: #8F9EA3;
$gray-300: #ABB7BA;
$gray-200: #C7CFD1;
$gray-100: #E3E7E8;

// Media Query Screen sizes

// These are just arbitrary sizes
$bp-xl: 1000px;
$bp-l: 860px;

// Actual used sizes
$bp-m: 768px;