// ===================
// Variables
// ===================

// Typography
$body-font: 'Karla', sans-serif;

// Colors

$main-orange: #f49104;
$accent-blue: #0E5A9E;
$accent-green: #1e752a;

$light-orange: #f9f3eb;
$light-blue: #0a7ce7;

$light-gray: #a4a5ae;
$dark-gray: #6d676e;

$light-white: #f4faff;
$dark-white: #dee7e7;