{% extends "main/layout.html" %}

{% block title %}Index{% endblock %}

{% block content%}
<div id="landing-page" class="laturel-image">
    <div class="gray-layer">
        <div id="header">
            <h1 class="xl-heading">Laturel Web</h1>
            <p class="xl-p">Verkkosivut. Helposti.</p>
        </div>
        <a href="#web-services-section" class="arrow-down-container"><div class="arrow-down"></div></a>
    </div>
</div>
<div id="web-services-section" class="nav-section"><!--Empty div to link the navigation and offset the navigation height --></div>
<div class="container bg-grey top-shadow">
    <div class="column">
        <div class="flex-centered">
            <div id="web-services" class="h-icon-aligned">
                <svg class="svg-icon svg-rocket" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path 
                    class="svg-rocket-flames"
                    d="M256 421.6c-18.1 0-33.2-6.8-42.9-10.9-5.4-2.3-11.3 1.8-10.9 7.6l3.5 51c.2 3.1 3.8 4.7 6.3 2.8l14.5-11c1.8-1.4 4.5-.9 5.7 1l20.5 32.1c1.5 2.4 5.1 2.4 6.6 0l20.5-32.1c1.2-1.9 3.9-2.4 5.7-1l14.5 11c2.5 1.9 6.1.3 6.3-2.8l3.5-51c.4-5.8-5.5-10-10.9-7.6-9.8 4.1-24.8 10.9-42.9 10.9z"/>
                    <path
                    class="svg-rocket-body"
                    d="M397.7 293.1l-48-49.1c0-158-93.2-228-93.2-228s-94.1 70-94.1 228l-48 49.1c-1.8 1.8-2.6 4.5-2.2 7.1L130.6 412c.9 5.7 7.1 8.5 11.8 5.4l67.1-45.4s20.7 20 47.1 20c26.4 0 46.1-20 46.1-20l67.1 45.4c4.6 3.1 10.8.3 11.8-5.4l18.5-111.9c.2-2.6-.6-5.2-2.4-7zM256.5 192c-17 0-30.7-14.3-30.7-32s13.8-32 30.7-32c17 0 30.7 14.3 30.7 32s-13.7 32-30.7 32z"/>
                </svg>
                <h1 class="content-header">Palvelut</h1>
            </div>
        </div>
        <div>
            <h2>Pienen yrityksen sivut</h2>
            <p>Suunnittelen ja toteutan yritykselle tai yhdistykselle laadukkaat verkkosivut. Verkkosivut tehdään aina asiakkaan tarpeiden mukaisesti.</p>
            <p> <a href="https://www.uusyrityskeskus.fi/blogi/ostokayttaytyminen-muuttui-miten-se-nakyy-yrittajalle/">Uusyrityskeskuksen mukaan</a> suurin osa asiakkaista etsii sopivaa palveluntarjoajaa verkosta. Maksimoi siis näkyvyytesi verkossa tyylikkäillä verkkosivuilla jotka kertovat asiakkaillesi miksi juuri sinun yrityksesi palveluita kannattaa hyödyntää ja kuinka sinut tavoittaa!</p>
            <h3>Tuotteet</h3>
            <h4><a href="{{ url_for('web_contact_card') }}">Käyntikorttisivut</a></h4>
            <p>Nopeiten ja edullisimmin pääset alkuun käyntikorttisivuilla. Tämä on tehokas tapa esitellä yrityksesi palvelut ja tarina digitaalisessa muodossa.</p>
        </div>
    </div>
</div>
<div class="why-laturel"><!--Empty div to link the navigation and offset the navigation height --></div>
<div class="container bg-grey">
    <div class="column">
        <div>
            <h2 class="">Miksi Laturel?</h2>
            <p>Pieni yritys tai yhdistys pääsee usein pienillä kustannuksilla alkuun käyttämällä erilaisia kotisivukoneita kuten <a href="https://us.webnode.com/">Webnode.com</a>
            tai <a href="https://www.wix.com/">wix.com</a>. Näiden palveluiden käyttämiseen ja perehtymiseen menee kuitenkin aina oma aikansa.</p>
            <p>Yrittäjän on kuitenkin usein järkevämpää keskittyä juuri siihen missä on itse hyvä ja ostaa kotisivut valmiina tuotteena itse tekemisen sijaan. Näin saat ammattimaisesti toteutetut sivut jotka on tehty juuri sinua varten.</p>
            <h3 class="text-center">Laturel on oikea kumppani kun haluat</h3>
        </div>
        <div class="flex-row">
            <div class="flex-column">
                <div class="accordion-item">
                    <div>
                        <svg id="icon-lightning" class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M160 48v224h64v192l128-256h-64l64-160H160z"/>
                        </svg>
                        <h3 class="">Nopeutta</h3>
                        <span class="input-border"></span>
                    </div>
                </div>
                <div class="accordion-panel">
                    <p>Hakukoneet ja erityisesti käyttäjät arvostavat <a href="https://www.thinkwithgoogle.com/marketing-resources/data-measurement/mobile-page-speed-new-industry-benchmarks/">tutkimusten</a> mukaan nopeutta.
                    Toteuttamani sivut tehdään asiakkaalle räätälödysti ilman ylimääräisiä lisäosia ja ne on valmiiksi optimoitu nopeaksi.</p>
                    <p>Nopeus ei koske pelkästään sivuja. Projektit toteutetaan johdonmukaisesti ja asiakkaan vaatimalla aikataululla. Voit unohtaa jatkuvan perään soittelun, sillä huolehdin siitä että asiakas on aina tietoinen missä kohtaa projektissa mennään.</p>
                </div>
            </div>
            <div class="flex-column">
                <div class="accordion-item">
                    <div>
                        <svg id="icon-thumb" class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M198 448h172c15.7 0 28.6-9.6 34.2-23.4l57.1-135.4c1.7-4.4 2.6-9 2.6-14v-38.6c0-21.1-17-44.6-37.8-44.6H306.9l18-81.5.6-6c0-7.9-3.2-15.1-8.3-20.3L297 64 171 191.3c-6.8 6.9-11 16.5-11 27.1v192c0 21.1 17.2 37.6 38 37.6zM48 224h64v224H48z"/>
                        </svg>
                        <h3 class="">Helppoutta</h3>
                        <span class="input-border"></span>
                    </div>
                </div>
                <div class="accordion-panel">
                    <p>Yrityksen kotisivujen tekeminen ei ole rakettitiedettä, mutta toteutuksessa tulee aina huomioida monta asiaa. Kun tilaat sivut Laturelilta, voit olla varma että kaikki osa-alueet tulevat huomioitua ja tarvitset vain yhden puhelinnumeron. Käyn kanssasi yhdessä läpi toteutuksen eri vaiheet ja pääaset halutessasi vaikuttamaan toteutukseen projektin eri vaiheissa.</p>
                    <p>Sinun ei tarvitse huolehtia yksityiskohdista jos et halua. Voimme sopia että sivut toteutetaan avaimet käteen -ratkaisuna toiveittesi mukaisesti. Sinun ei tarvitse kuin kertoa yleisesti mitä haluaisit sivuiltasi ja minkälaista yleisilmettä haet yrityksellesi tai yhdistyksellesi.</p>
                </div>
            </div>
            <div class="flex-column">
                <div class="accordion-item">
                    <div>
                        <svg id="icon-person" class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M256 48c22 0 40 18 40 40s-18 40-40 40-40-18-40-40 18-40 40-40zm192 144.1H320V464h-42.7V320h-42.7v144H192V192.1H64v-42.7h384v42.7z"/>
                        </svg>
                        <h3 class="">Yksilöllisyyttä</h3>
                        <span class="input-border"></span>
                    </div>
                </div>
                <div class="accordion-panel">
                    <p>Jokainen sivu tehdään aina asiakkaan liiketoiminta ja toiveet huomioiden. Sinä olet oman alasi paras asiantuntija ja anna sen näkyä sivuillasi! Yksilöllisesti personoidut ja siististi toteutetut sivut antavat yrityksestäsi tai yhdistyksestäsi ammattimaisen kuvan. Verkkosivut eivät ole pelkästään käyntikorttisi verkossa, vaan nykypäivänä pääasiallinen asiakashankinnan kanava.</p>
                    <p>Maksimoi siis myyntisi toteuttamalla sivut joista voit olla ylpeä ja jotka tuottavat asiakkaillesi huomattavaa lisäarvoa.</p>
                </div>
            </div>
            <div class="flex-column">
                <div class="accordion-item">
                    <div>
                        <svg id="icon-heart" class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M256 448l-30.164-27.211C118.718 322.442 48 258.61 48 179.095 48 114.221 97.918 64 162.4 64c36.399 0 70.717 16.742 93.6 43.947C278.882 80.742 313.199 64 349.6 64 414.082 64 464 114.221 464 179.095c0 79.516-70.719 143.348-177.836 241.694L256 448z"/>
                        </svg>
                        <h3 class="">Helppokäyttöisyyttä</h3>
                        <span class="input-border"></span>
                    </div>
                </div>
                <div class="accordion-panel">
                    <p>Oletko koskaan vieraillut sivuilla joissa kaikki tuntuu olevan oikeassa paikassa ja etsimäsi on aina helposti löydettävissä?</p>
                    <p>Tämä tunne on taattu kun toteutamme yhdessä sinulle tyylikkäät sivut. Kaikki sivut toteutetaan lähtökohtaisesti niin, että niitä on helppo selata niin työpöytäkoneella kuitenkin puhelimellakin.</p>
                </div>
            </div>
        </div>
</div>
</div>
<div id="contact-form-section" class="nav-section"><!--Empty div to link the navigation and offset the navigation height --></div>
<div class="container top-shadow">
    <div class="column">
        <div class="web-form-container">
            <h2 class="text-center">Ota yhteyttä</h2>
            <form id="contact-form" action="" method="POST">
                <div class="overflow-hidden envelope-container">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 300">
                        <path id="envelope" class="svg-envelope" d="M 5.3908531,3.4300693 250,179.31399 494.60916,3.4300693 m -489.2183069,0 489.2183069,0 0,293.1398707 -489.2183069,0 z"/>
                    </svg>
                </div>
                <div class="">
                    <div id="form-inputs">
                        {{ form.hidden_tag() }}
                        <div>
                            <label for="name" class="web-input">
                                {{ form.name(placeholder="\xa0") }}
                                <span class="input-label">Nimi</span>
                                <span class="input-border"></span>
                            </label>
                        </div>
                        <div>
                            <label for="email" class="web-input">
                                {{ form.email(placeholder="\xa0") }}
                                <span class="input-label">Sähköposti</span>
                                <span class="input-border"></span>
                            </label>
                        </div>
                        <div>
                            <label for="phone" class="web-input">
                                {{ form.phone(placeholder="\xa0") }}
                                <span class="input-label">Puhelinnumero</span>
                                <span class="input-border"></span>
                            </label>
                        </div>
                        <div>
                            <label for="description" class="web-input">
                                {{ form.description(placeholder="\xa0") }}
                                <span class="input-label">Lisätiedot</span>
                                <span class="input-border"></span>
                            </label>
                            
                        </div>
                        <div>
                            {{ form.preferred_contact.label(class="web-input") }}
                            {% for subfield in form.preferred_contact %}
                            <div class="slider-checkbox">
                                {{ subfield }}
                                {{ subfield.label(class="label") }}
                            </div>
                            {% endfor %}
                        </div>
                        <div>
                            {{ form.recaptcha }}
                        </div>
                        <div>
                            {{ form.submit(class="btn form-submit") }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>	
<div id="contact-information-section" class="nav-section"><!--Empty div to link the navigation and offset the navigation height --></div>
<div  class="container bg-grey top-shadow">
    <div class="column photo-container">
        {% if (config['ENV'] == 'production') or config['ENV'] == 'stage' %}  
        <img class="photo" src="/static/img/MiikaSavela.jpg" alt="Picture of Miika Savela">
        {% else %}
        <img class="photo" src="{{ url_for('static', filename='img/MiikaSavela.jpg') }}" alt="Picture of Miika Savela">
        {% endif %}
    </div>
    <div class="column">
        <div class="text-center">
            <div class="h-icon-aligned">
                {% if (config['ENV'] == 'production') or config['ENV'] == 'stage' %}  
                <img alt="phone icon" class="svg-icon" src="/static/img/phone.svg" alt="Phone icon">
                {% else %}
                <img src="{{url_for('static', filename='img/phone.svg')}}" alt="phone icon" class="svg-icon">
                {% endif %}
                <h1 class="content-header">Yhteystiedot</h1>
            </div>
            <div>
                <p>Miika Savela</p>
                <p>+358 (0)50 3489 584</p>
                <a href="mailto:miika.a.savela@gmail.com">miika.a.savela@gmail.com</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}