<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Oswald:400,700" rel="stylesheet">
		{% if (config['ENV'] == 'production') or config['ENV'] == 'stage' %}
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<link rel="icon" type="image/png" href="/static/img/laturel_favicon.png">
		<script src="/static/js/main.js"></script>
		
		{% else %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/laturel_favicon.png') }}">
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
		
		{% endif %}
		{% block javascript %}{% endblock %}
		<meta property="og:image" content="{/static/img/laturel_logo_l.png">
		<meta property="og:image:type" content="image/png">
		<meta property="og:image:width" content="349">
		<meta property="og:image:height" content="308">
		 <meta property="og:description" content="Laturel Web suunnittelee ja toteuttaa sinulle nykyaikaiset verkkosivut helposti ja laadukkaasti" />
		<title>Laturel - {% block title %} {% endblock %} </title>	
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153653570-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-153653570-1');
		</script>
	</head>
	<body>
		<div class="main-container" id="top">
			<nav id="nav" class="navbar nav-web">
				<div id="nav-hamburger-container">
					<div id="nav-hamburger"></div>
				</div>
				<div id="nav-menu" class="nav-menu">
					<ul id="nav-list">
						<li id="home-link" {% if active == 'index' %} class="active-nav" {% endif %}><a class="nav-text" href="{{ url_for('index') }}">Etusivu</a></li>
						<li id="services-link" ><a class="nav-text" href="{{ url_for('index') }}#web-services-section">Palvelut</a></li>
						<li id="contact-form-link"><a class="nav-text" href="{{ url_for('index') }}#contact-form-section">Yhteydenotto</a></li>
						<li id="contact-information-link"><a class="nav-text" href="{{ url_for('index') }}#contact-information-section">Yhteystiedot</a></li>
						<li id="cars-link" {% if active == 'cars' %} class="active-nav" {% endif %}><a class="nav-text" href="{{ url_for('cars') }}">Ajoneuvon käyttövoimalaskuri</a></li>
					</ul>
				</div>
			</nav>
			
			{% block content %}
			{% endblock %}
		</div>
		<footer>
            <div class="footer-left">
				<p class="cookie-notice">Sivuilla käytetään evästeitä käyttökokemuksen parantamiseksi. Voit estää evästeiden käytön selaimesi asetuksista.</p>	
			</div>
			<div class="footer-right">
				<nav class="nav-footer">
					<ul>
						<li><a href="{{ url_for('privacy_policy') }}">Tietosuoja ja evästeet</a></li>
					</ul>
				</nav>
			</div>
		</footer>
	</body>	

	

</html>