{% extends "main/layout.html" %}

{% block title %}Tietosuoja{% endblock %}

{% block content%}
<div class="container">
    <div class="column">
        <div id="data-and-privacy">
            <h1>Tietosuoja ja yksityisyys</h1>
            <p>Tältä sivulta saat tietoa siitä, miten Laturel Tmi:ssa noudatetaan tietosuoja-asioita EU:n jäsenmaissa EU:n tietosuoja-asetuksen (GDPR) mukaisesti. Mikäli sinulla on kysyttävää tietosuojaan liittyvistä asioista (tai oikeastaan mistään muustakaan!), niin ole yhteydessä minuun sähköpostilla osoitteeseen <a href="mailto:miika.a.savela@gmail.com">miika.a.savela@gmail.com</a>.</p>
            <p>Jotta voin palvella sinua parhaani mukaan, se edellyttää joitain sinua koskevien tietojen keräystä ja käsittelyä. Arvostan yksityisyyttäsi ja olen sitoutunut suojaamaan sitä. Mikäli haluat vain selailla ja lukea sivua, se onnistuu täysin anonyymisti ilman että henkilöllisyytesi paljastuu.</p>
            <p>Tämä tietosuojaseloste sisältää tietoa siitä, mitä henkilötietoa kerään, millä periaatteella sitä käsittelen ja mitä oikeuksia ja vaikuttamismahdollisuuksia sinulla on tietojasi koskien.</p>
        </div>
        <div id="register-and-contact-information">
            <h2>Rekisterinpitäjä ja yhteystiedot</h2>
            <p class="bottom-margin-5">Käsiteltävien henkilötietojen rekisterinpitäjänä toimii</p>
            <p class="bottom-margin-5">Laturel Tmi</p>
            <p class="bottom-margin-5">Hakulintie 43 A7</p>
            <p class="bottom-margin-5">08500 Lohja</p>
            <p class=""><a href="mailto:info.laturel@gmail.com">info.laturel@gmail.com</a></p>
        </div>
        <div id="why-purpose">
            <h2>Mihin tarkoitukseen henkilötietojani kerätään?</h2>
            <p class="bottom-margin-10">Kerään, säilytän ja käsittelen sinua koskevia henkilötietoja vain ennalta määriteltyihin tarkoituksiin. Pääasialliset käyttötarkoitukset ovat:</p>
            <ul>
                <li>Hyvän asiakaskokemuksen tarjoaminen</li>
                <li>Sopimusvelvotteiden toteuttaminen</li>
                <li>Asiakasviestintä ja yhteydenottopyyntöihin vastaaminen</li>
                <li>Liiketoimintani ja palveluiden kehittäminen</li>
                <li>Laskutus</li>
                <li>Paremman asiakaspalvelun tarjoaminen</li>
            </ul>
        </div>
        <div id="what-and-where">
            <h2>Mitä henkilötietoja minusta kerätään ja mistä lähteistä?</h2>
            <p class="bottom-margin-10">Kerään sinua koskevia henkilötietoja pääasiassa sinulta itseltäsi yhteydenottojen yhteydessä tai myöhemmin palvelun tuottamisen ja käytön yhteydessä. Tämän lisäksi saatan kerätä tietoja julkisista lähteistä ja rekistereistä, kuten YTJ tietokannasta. Kerään myös verkkosivujeni kävijätietoa Google Analytics -palvelun avulla, jotta voin analysoida ja kehittää sivustoani jatkuvasti sinua paremmin palvelevaksi Tyypillisesti saatan saada suoraan sinulta seuraavia tietoja esimerkiksi yhteydenottosi yhteydessä:</p>
            <ul>
                <li>Etu- ja sukunimi</li>
                <li>Yhteystiedot (sähköpostiosoite ja puhelinnumero)</li>
                <li>Yrityksen nimi</li>
            </ul>
            <p class="bottom-margin-10">Sivuilla vieraillessasi voin saada sinulta automaattisesti seuraavia tietoja:</p>
            <ul>
                <li>Google Analytics -kävijätietopalvelun avulla kerätty anonyymi analytiikkatieto</li>
            </ul>
            <p class="bottom-margin-10">Julkisista lähteistä kerättävät tiedot:</p>
            <ul>
                <li>YTJ-yrityshausta kerätyt yrityksen tiedot, kuten yrityksen osoite</li>
                <li>TIEKE:n verkkolaskuosoitteistosta kerätyt yrityksen verkkolaskutustiedot</li>
            </ul>
            <p>Pääasiallinen lähde tiedoille on käyttäjä itse, eli siis sinä. Halutessasi sinulla on oikeus kieltää joidenkin tietojen käyttö ja vaatia sitä minulta.</p>
        </div>
        <div id="why-and-what-right">
            <h2>Miksi ja millä perusteella henkilötietojani kerätään ja mihin niitä tarvitaan?</h2>
            <p>Kerään henkilötietoja asiakassuhteen hoitamista varten. Henkilötietojen käsittelyn oikeusperusteena on meidän välinen sopimuksemme ja siitä johtuvat lakisääteiset velvoitteet. Henkilötietojen antaminen on edellytys sopimuksen syntymiselle. Toisin sanoen et voi jättää yhteydenottopyyntöä ja en voi olla sinuun yhteydessä, jos et anna henkilötietojasi.</p>
            <p>Kerään henkilötietoja myös markkinointia varten. Henkilötietojen käsittelyn oikeusperusteena on suostumus.</p>
            <p>En tee sinua koskevia profilointeja ja automaattisia päätöksiä.</p>
        </div>
        <div id="who">
            <p class="bottom-margin-10">Henkilötietojasi vastaanottavat:</p>
            <ul>
                <li>Yrityksemme ja sen työntekijät</li>
                <li>Tilitoimisto, joka kirjaa tilauksen kirjanpitoomme</li>
                <li>Tilintarkastaja, joka tarkastaa kirjanpitomme</li>
            </ul>
            <p>En pääasiallisesti luovuta henkilötietoja ulkopuolisille toimijoille. Mikäli palvelun toteuttamisen kannalta on välttämätöntä, voin luovuttaa tietoja Laturelin toimeksiantamille kolmansille osapuolille verkkopalvelun asiakaskokemuksen parantamista ja markkinointia varten.</p>
            <p class="bottom-margin-10">Käytän seuraavia palveluntarjoajia verkkosvuillani</p>
            <ul>
                <li>Google Analytics (Verkkosivujen kävijäanalytiikka)</li>
                <li>Google Gmail (Sähköpostit)</li>
            </ul>
        </div>
        <div id="how-long">
            <h2>Kuinka kauan henkilötietojani säilytetään?</h2>
            <p class="bottom-margin-10">Säilytän henkilötietojasi:</p>
            <ul>
                <li>Tietokannassani viiden vuoden ajan</li>
                <li>Sähköpostiarkistossa seitsemän vuoden ajan</li>
                <li>Kirjanpitoaineistossa seitsemän vuoden ajan</li>
            </ul>
        </div>
        <div id="what-rights">
            <h2>Mitä oikeuksia minulla on henkilötietoihini liittyen?</h2>
            <p class="bottom-margin-10">Sinulla on seuraavat oikeudet:</p>
            <ul>
                <li>Oikeus tarkastaa itseäsi koskevat henkilötiedot</li>
                <li>Oikeus tietojen oikaisemiseen</li>
                <li>Oikeus käsittelyn rajoittamiseen (voit esimerkiksi kieltää markkinoinnin)</li>
                <li>Oikeus vastustaa käsittelyä</li>
                <li>Oikeus peruuttaa suostumus (voit esimerkiksi peruuttaa suostumuksesi markkinointiin)</li>
                <li>Oikeus tehdä valitus valvontaviranomaiselle</li>
            </ul>
            <p>Huomioithan, että sinulla on "oikeus tulla unohdetuksi" vain, jos minulla ei ole lakisääteisiä velvoitteita jatkaa henkilötietojesi käsittelyä.</p>
        </div>
        <div id="cookies">
            <div id="cookie-general">
                <h1>Evästeet</h1>
                <p>Evästeet ovat pieniä tekstitiedostoja, joita selain tallentaa muistiinsa. Evästeiden avulla voidaan esimerkiksi muistaa millä kielellä haluat käyttää sivua ja niiden avulla myös kerätään anonymisoitua tietoa siitä kuinka käytät vierailemiasi verkkosivuja.</p>
            </div>
            <div id="what-cookies">
                <h2>Mitä evästeitä Laturel tallentaa ja miksi?</h2>
                <p>Sivuilla käytetään vain istunnon toiminnan kannalta oleellisia evästeitä ja Google Analyticsin analytiikkatyökalun toimintaan liittyviä evästeitä. Suostumus evästeiden käyttöön saadaan selaimesi evästeasetuksista. Näin sinun ei tarvitse katsella ärsyttäviä “Käytämme evästeitä” -popuppia sivuillani. Mikäli et halua että tallennan muita kuin sivuston käyttämiseen liittyviä välttämättömiä evästeitä, löydät ohjeet evästeiden poistamiseen ja luvan perumiseen alla olevasta kohdasta “Miten pääsen evästeistä eroon?”</p>
                <p>Käytän Google Analyticsia parantamaan käyttäjäkokemustasi. Seuraan Google Analyticsin kautta pääasiassa sivuston vierailijamääriä sekä mitä toimenpiteitä (events) käyttäjät tekevät sivuilla. Lisäksi seuraan millä laitteilla ja selaimilla sivustoa käytetään, mistä käyttäjät löytävät sivuni ja kauanko käyttäjät viettävät aikaa eri sivuilla.</p>
                <div id="cookie-table">
                    <p>Päivitetty viimeksi 7.3.2020</p>
                    <table>
                        <thead>
                            <tr>
                                <th>Evästeen nimi</th>
                                <th>Säilytysaika</th>
                                <th>Mihin sitä käytetään?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>SESS#</td>
                                <td>Istunto</td>
                                <td>Istunnon tietojen säilyttäminen istunnon keston ajan</td>
                            </tr>
                            <tr>
                                <td>_ga</td>
                                <td>2 vuotta</td>
                                <td>Rekisteröi uniikin tunnisteen jolla kerätään anonymisoitua käyttäjädataa.

                                    Tämän evästeen avulla pystyn parantamaan sivujeni toimintaa.</td>
                            </tr>
                            <tr>
                                <td>_gat</td>
                                <td>1 päivä</td>
                                <td>Käytetään Google Analyticsiin lähetettävien pyyntöjen rajoittamiseen.

                                    Tämä eväste estää etten spämmää Google Analyticisia liian monella pyynnöllä.
                                    </td>
                            </tr>
                            <tr>
                                <td>_gid</td>
                                <td>1 päivä</td>
                                <td>Rekisteröi uniikin tunnisteen jolla kerätään anonymisoitua käyttäjädataa.

                                    Tämän evästeen avulla pystyn parantamaan sivujeni toimintaa.</td>
                            </tr>
                            <tr>
                                <td>collect</td>
                                <td>Istunto</td>
                                <td>Käytetään lähettämään dataa Google Analyticsille käyttäjän laitteesta ja käytöksestä. 

                                Mahdollistaa käyttäjien tunnistamisen eri laitteiden ja markkinointikanavien välillä.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="how-to-get-rid-off">
                    <h2>Miten pääsen evästeistä eroon?</h2>
                    <p>Pystyt halutessasi estämään sivujeni tai jonkin muun sivuston evästeiden käytön selaimesi asetuksista. Mikäli estät evästeiden käytön sivut eivät välttämättä toimi oletetulla tavalla ja käyttökokemuksesi saattaa laskea.</p>
                    <p class="bottom-margin-10">Ohjeet evästeiden estämiseen eri selaimilla:</p>
                    <ul>
                        <li><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=fi">Google Chrome</a></li>
                        <li><a href="https://support.mozilla.org/fi/kb/poista-verkkosivujen-tietokoneellesi-tallentamia">Mozilla Firefox</a></li>
                        <li><a href="https://support.apple.com/fi-fi/HT201265">Apple Safari</a></li>
                        <li><a href="https://support.microsoft.com/en-us/help/4468242/microsoft-edge-browsing-data-and-privacy">Microsoft Edge</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}