.text-box {
	background-color: lightgrey;
	font-size: 16px;
	}

.nav-text-styling {
	text-decoration: none;
	color: inherit;
	font-size: 42px;
	}
.nav-div-styling {
	float: none;
	margin: 0 auto;
	}

.nav-text {
	color: white !important;
	font-size: 14px;
	}
.body-div {
	background-color: #f8f8f8;
	}
.body-bg-color {
	background-color: #c2cad6
}
.body-p-paddings {

	padding-top: 20px;
}
.btn-wrap {
	white-space: normal;
	max-width: 300px;
	word-wrap:  break-word;
}
.form-textbox {
	max-width: 300px
}
.col-centered{
	float:none;
	margin:0 auto;
}
.form-margins{
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 15px;
}
.label-margin{
	margin-left: 30px;
}

.header-split{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-bottom: 20px;
}
.header-margin{
	margin-top:10px;
	margin-bottom: 10px;
}
.addon-width{
	width: 75px;
}

.e-header{
	background-color: #2a5499;
	font-weight: 600;
	font-size: 16px;
	color: #ffffff;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.e-box{
	background-color:#4079d6;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: #ffffff;
}

.g-header{
	background-color: #134712;
	font-weight: 600;
	font-size: 16px;
	color: #ffffff;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.g-box{
	background-color:#49783a;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: #ffffff;
}

.d-header{
	background-color: #322c2b;
	font-weight: 600;
	font-size: 16px;
	color: #ffffff;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.d-box{
	background-color:#5b5655;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: #ffffff;
}