.text-box {
	background-color: lightgrey;
	font-size: 16px;
	}

.nav-text-styling {
	text-decoration: none;
	color: inherit;
	font-size: 42px;
	}

.nav-div-styling {
	float: none;
	margin: 0 auto;
	}

.nav-text {
	color: white !important;
	font-size: 14px;
	}

.body-div {
	background-color: #eeeeee;
	}

.body-bg-color {
	background-color: #c2cad6
}

.body-p-paddings {
	padding-top: 20px;
}

.btn-wrap {
	white-space: normal;
	max-width: 300px;
	word-wrap:  break-word;
}

.form-textbox {
	max-width: 300px
}

.label-margin{
	margin-top: 5px;
}

.input-margins{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 15em;
}

.header-split{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-bottom: 20px;
}

.header-margin{
	margin-top:10px;
	margin-bottom: 10px;
}

.addon-width{
	width: 75px;
}

.form-box{
	background-color: #fefefe ;
	border-top-left-radius: 5px ; 
	border-top-right-radius: 5px ; 
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	color: hsl(0, 0%, 13%);
	display: inline-block;
	width: 95%;
	margin-bottom: 30px;
}

.e-top{
	border-top: 8px solid #2a5499;
}

.g-top{
	border-top: 8px solid #134712;
}

.d-top{
	border-top: 8px solid #322c2b;
}

.general-top{
	border-top: 8px solid #f4c542;
}

.box-header{
	font-weight: 600;
}

.card{
	background-color: #fefefe;
	margin-top: 25px;
	/*
	text-align: center;
	margin-bottom: 25px;
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	*/
	border-radius: 5px;
	width:95%;
	display: inline-block;
}
.ecard{

	border-bottom: 4px solid #2a5499;
}

.gcard{
	border-bottom: 4px solid #134712;
}

.dcard{
	border-bottom: 4px solid #322c2b;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* inline-block space fix */
    margin-right:-4px;
}

ul {
	list-style: none;
	padding: 0px; 
}

.big-btn{
	width: 10em;
	height: 3em;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}
.text-center-left{
	text-align: left;
	display: inline-block;
}