.text-box {
	background-color: lightgrey;
	font-size: 16px;
	}

.nav-text-styling {
	text-decoration: none;
	color: inherit;
	font-size: 42px;
	}

.nav-div-styling {
	float: none;
	margin: 0 auto;
	}

.nav-text {
	color: white !important;
	font-size: 14px;
	}

.body-div {
	background-color: #eeeeee;
	}

.body-bg-color {
	background-color: #c2cad6
}

.body-p-paddings {
	padding-top: 20px;
}

.btn-wrap {
	white-space: normal;
	max-width: 300px;
	word-wrap:  break-word;
}

.form-textbox {
	max-width: 300px
}

.label-margin{
	margin-top: 5px;
}

.input-margins{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 15em;
}

.header-split{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-bottom: 20px;
}

.header-margin{
	margin-top:10px;
	margin-bottom: 10px;
}

.addon-width{
	width: 75px;
}

.form-box{
	background-color: #fefefe ;
	border-top-left-radius: 5px ; 
	border-top-right-radius: 5px ; 
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	color: hsl(0, 0%, 13%);
	display: inline-block;
	width: 95%;
}

.e-top{
	border-top: 8px solid #2a5499;
}

.g-top{
	border-top: 8px solid #134712;
}

.d-top{
	border-top: 8px solid #322c2b;
}

.general-top{
	border-top: 8px solid #f4c542;
}

.box-header{
	font-weight: 600;
}