.text-box {
	background-color: lightgrey;
	font-size: 16px;
	}

.nav-text-styling {
	text-decoration: none;
	color: inherit;
	font-size: 42px;
	}
.nav-div-styling {
	float: none;
	margin: 0 auto;
	}

.nav-text {
	color: white !important;
	font-size: 14px;
	}
.body-div {
	background-color: #eeeeee;
	}
.body-bg-color {
	background-color: #c2cad6
}
.body-p-paddings {

	padding-top: 20px;
}
.btn-wrap {
	white-space: normal;
	max-width: 300px;
	word-wrap:  break-word;
}
.form-textbox {
	max-width: 300px
}
.col-centered{
	float:none;
	margin:0 auto;
}
.form-margins{
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 15px;
}
.label-margin{
	margin-top: 10px;
}

.input-margins{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;

}

.header-split{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-bottom: 20px;
}
.header-margin{
	margin-top:10px;
	margin-bottom: 10px;
}
.addon-width{
	width: 75px;
}

.e-header{
	background-color: #2a5499;
	font-weight: 600;
	font-size: 16px;
	color: #ffffff;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	margin-left: -5px;
	margin-right: -10px;
}

.form-box{
	background-color: #fefefe ;
	border-top: 6px solid #2a5499;
	border-top-left-radius: 5px ; 
	border-top-right-radius: 5px ; 
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: hsl(0, 0%, 13%);
	display: inline-block;
	width: 95%;
}

.g-header{
	background-color: #134712;
	font-weight: 600;
	font-size: 16px;
	color: #ffffff;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	margin-left: -10px;
	margin-right: -10px;
}

.g-box{
	background-color:#49783a;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: #ffffff;
	margin-left: -10px;
	margin-right: -10px;
}

.d-header{
	background-color: #322c2b;
	font-weight: 600;
	font-size: 16px;
	color: #ffffff;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	margin-left: -10px;
	margin-right: -5px;
}

.d-box{
	background-color:#5b5655;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: #ffffff;
	margin-left: -10px;
	margin-right: -5px;
}

.box-header{
	font-weight: 600;
}