body{
	background-color: #eeeeee
}

h2, h3 {
	margin-top:20px;
	margin-bottom: 15px;
	margin-left: 15px;
}

p {
	margin-left: 15px;
}

ul {
	list-style: none;
	padding: 0px; 
}

/* Identifiers */

#results{
	padding-bottom: 30px;
}

/* End of identifiers */

/* Classes */

.nav-img{
	padding: 0px !important;
	margin-right: 10px;
}

.nav-text{
	color: #fff;
	font-size: 16px;


}

.btn-wrap {
	white-space: normal;
	max-width: 300px;
	word-wrap:  break-word;
	margin-left: 5px;
	margin-right: 5px;
}

.form-textbox {
	max-width: 300px
}

.label-margin{
	margin-top: 5px;
}

.input-margins{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	max-width: 15em;
}

.header-split{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-bottom: 20px;
}

.header-margin{
	
}

.addon-width{
	width: 75px;
}

.form-box{
	background-color: #fefefe ;
	border-top-left-radius: 5px ; 
	border-top-right-radius: 5px ; 
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	color: hsl(0, 0%, 13%);
	display: inline-block;
	width: 95%;
	margin-bottom: 5px;
}

.e-top{
	border-top: 8px solid #2a5499;
}

.g-top{
	border-top: 8px solid #134712;
}

.d-top{
	border-top: 8px solid #322c2b;
}

.general-top{
	border-top: 8px solid #f4c542;
}

.box-header{
	font-weight: 600;
}

.ecard{

	border-bottom: 4px solid #2a5499;
}

.gcard{
	border-bottom: 4px solid #134712;
}

.dcard{
	border-bottom: 4px solid #322c2b;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* inline-block space fix */
    margin-right:-4px;
}

.big-btn{
	width: 10em;
	height: 3em;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}
.text-center-left{
	text-align: left;
	display: inline-block;
}

.tooltips:hover .tooltiptexts {
    display: block;
}


.tooltiptexts {
    display: none;
    background: #fefefe;
    margin-left: 295px;
    margin-top: -22px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width:200px;
    height:100px;
    border-radius: 5px;
    border:1px solid black;
}

.tooltips {
    margin:0px;
}

.row-light{
	background-color: #d4d4dc;
}

.row-dark{
	background-color: #1d1e22;
}

/* End of classes */