/* ===================
Color layout
=================== */

/* -------------------
Main: Green - #0a5c15
Accent: Red - #77120D

Text / Background

Light gray: #dee8df
Dark gray: #3b443c
Isabelline: #f6e8ea
Baby powder: #fffffa
Dark liver: #515052

------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ===================
Animations
=================== */

@keyframes fill-logo-inner {
    100% {
        fill: #095b14
    }
}

@keyframes fill-logo-outer {
    100% {
        fill: #1e752a
    }
}

@keyframes dash-offset {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes rocket-launch {
    5% {
        transform: translateY(-5px);
    }

    10% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}

@keyframes rocket-wiggle {
    20% {
        transform: rotate(2deg);
    }
    40% {
        transform: rotate(-2deg);
    }
    60% {
        transform: rotate(2deg);
    }
    80% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(2deg);
    }
}

@keyframes rocket-flames {
    100% {
        fill: #f0a11a;
    }
}

/* ===================
Base style
=================== */

body {
    height: 100%;
    font-family: 'Karla', sans-serif;
    color: #515052;
    background-color: #fafafa;
}

footer {
    width: 100%;
    text-align: center;
    position: relative;
}

footer p {
    font-size: 0.8em;
}

/* ===================
Typography
=================== */

p {
    line-height: 1.5;
}

/* ===================
ID selectors
=================== */


/* ===================
Class selectors
=================== */


/* ------ Navigation ------ */
.navbar {
    background-color: #0a5c15;;
    padding-top: 0.5em; /* 8px */
    padding-bottom: 0.5em;
    text-align: center;
    box-shadow: 0px 1px 2px rgba(20, 20, 20, 0.2);
}

.navbar ul {
    vertical-align: top;
    position: relative;
}

.navbar li {
    text-align: center;
    list-style: none;
    padding: 15.8px;
}

.navbar a {
    text-decoration: none;
    color: #dee7e7;
    font-weight: 700;
    text-transform: uppercase;
    position: relative; /* Relative so the a:after absolute hover element can be positioned */
}

.active-nav a {
    color: #5a5e5e;
}

.navbar ul li a,
.navbar ul li a:after,
.navbar ul li a:before,
.navbar img,
.navbar img:after,
.navbar img:before {
    transition: all .5s;
}

/* Element for the :hover effect */
.navbar ul li a:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    color: transparent;
    background: #77120D;
    height: 3px;
}

.navbar ul li a:hover:after {
    width: 100%;
}

.navbar a:hover,
.navbar img:hover {
    color: #fffffa;
    }

.nav-img {
    display: block;
    height: 50px;
}

.nav-img img {
    height: 50px;
}

/* ------ Containers and flexboxes ------ */

.main-container {
    min-height: calc(100vh - 1.5rem - 50px); /* Full view height minus footer (1.5rem) and back to top button (50px) */
    position: relative;
}

.header {
    display: flex; /* Flex for vertical positioning the content */
    flex-direction: column;
    height: calc(90vh - 116px); /* 116px is the height of the navigation */
    justify-content: center;
}

.header-content {
    width: 90%;
    margin: 0 auto;
}

.main-header h1 {
    margin-bottom: 1rem;
}

.content {
    margin: 0 auto;
    width: 90%;
}

.content-text {
    width: 90%;
    margin: 1rem auto;
}

.content-text h1,
.content-text h2,
.content-text h3,
.content-text h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.content-text p {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.bg-grey { 
    background: #dee8df;
}


/* Flex content boxes */
.f-content {
    display: flex;
    margin: 2em 0;
    padding: 25px 5%;
    flex-direction: column;
    min-height: 250px;
    position: relative;
}

.f-content h1,
.f-content h2,
.f-content h3,
.f-content h4 {
    margin-bottom: .3em;
}

.f-content p {
    margin: .5em 0;
}

.f-content .btn {
    margin-top: auto;
}

.content-header {
    margin-left: -25px;
}

/* ------ Form layouts ------ */

.form-box {
    background-color: #fefefe;
    border-radius: 5px 8px;
    box-shadow: 0 2px 6px 0 rgba(197, 194, 194, 0.2);
    margin-bottom: 15px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.form-box label {
    font-weight: 300;
    margin: 15px 0 5px 11%;
    display: block;
    text-align: left;
}

.result-box ul {
    list-style: none;
}

.input-group {
    width: 80%;
    margin: 0 auto;
    display: table;
}

.input-addon {
    display: table-cell;
    white-space: nowrap;
    padding: 0 1em;
    border: 1px #dee7e7 solid;
    background: #dee7e7;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.form-control {
    display: table-cell;
    width: 100%;
    border: 1px #dee7e7 solid;
    border-radius: 5px 0 0 5px;
    padding: 6px 12px;
}

.form-control:focus {
    box-shadow: inset 0 0 3px #f49104;
    border: 1px rgba(244,145,4, 0.3) solid;
    border-right: 0;
}

.form-radio {
    text-align: left;
}

.form-radio label {
    display: inline-block; 
    margin:0;
}

/* Cars page forms and result styling */

.e-top {
	border-top: 3px solid #2a5499;
}

.g-top {
	border-top: 3px solid #3e9b3c;
}

.d-top {
	border-top: 3px solid #322c2b;
}

.general-top {
	border-top: 3px solid #f4c542;
}

.ecard {
	border-bottom: 2px solid #2a5499;
}

.gcard {
	border-bottom: 2px solid #3e9b3c;
}

.dcard {
	border-bottom: 2px solid #322c2b;
}

.operational-result {
    margin: 15px 0;
}

/* ------ Text styling and positioning ------ */

.tagline {
    color: #9fa5a5;
}

.subtext {
    font-size: 0.8em;
    color: #9fa5a5;
}

.subtext a {
    color: #9fa5a5;
}

.text-muted {
    color: #9fa5a5;
}

.text-center {
    text-align: center;
}

.text-center-left {
    display: inline-block;
    text-align: left;
}

.text-bold {
    font-weight: 700;
}

.text-form-header {
    text-align: center;
    margin: 3rem 0 1rem -25px; /* Left margin for compensating the svg margin */
    font-weight: 300;
}

.accent-red {
    color: rgb(175, 38, 30);
}

/* ------ Buttons and icons ------ */

.btn {
    display: block;
    color: #f9f3eb;
    border: none;
    font-size: 1.3em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1em;
    padding: 0.7em 2em;
    max-width: 250px;
    background-color: #0E5A9E;
    align-self: center;
    box-shadow: 0 0 3px 1px rgba(50,50,50,0.3);
    transition: box-shadow .5s,
                background-color .5s,
                transform .5s ease-out;
    
}

.btn:hover {
    box-shadow: 0 0 3px 1px rgba(50,50,50,0.7);
    background-color: #0a7ce7;
    transform: scale(1.01);
    cursor: pointer;
}

.btn-margin {
    margin: 20px 0;
}

.btn-center {
    margin: 0 auto;
}

.icon-ev {
    height: 50px;
    margin-right: 25px;
    margin-bottom: -15px;
}

.top-button {
    position: absolute;
    bottom:0;
    right: 0;
    padding-right: 20px;
    height: 50px;
    opacity: 0.4;
    transition: opacity 0.3s ease-in-out;
}

.top-button:hover {
    opacity: 0.9;
}

.top-button img {
    height: 50px;
}

.svg-logo {
    height: 200px;
    overflow: hidden;
}

.svg-logo-outer {
    fill: transparent;
    animation: fill-logo-outer .8s 2s;
    animation-fill-mode: forwards;
}

.svg-logo-inner {
    fill: transparent;
    stroke: #1e752a;
    stroke-width: 2;
    stroke-dasharray: 1300;
    stroke-dashoffset: 1300;
    animation: dash-offset 2s linear forwards, fill-logo-inner .8s 2s;
    animation-fill-mode: forwards;
}

.svg-logo:hover {

    animation-play-state: paused, running;
}

.svg-rocket {
    height: 50px;
    overflow: hidden;
    animation: rocket-launch 1s 1s, rocket-wiggle 0.5s;
    animation-play-state: paused;
}

#web-services:hover .svg-rocket {
    animation-play-state: running;
}

.svg-rocket-body {
    fill: #3b443c;
}

.svg-rocket-flames {
    fill: transparent;
    animation: rocket-flames 1s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

#web-services:hover .svg-rocket-flames {
    animation-play-state: running;
}

/* ===================
Media queries
=================== */

/* ---------------
Medium screens
 ---------------*/
@media (min-width: 768px) {

    .navbar {
        padding-left: 150px;
        text-align: left;
    }

    .navbar ul,
    .navbar li,
    .navbar .nav-img {
        display: inline-block;
    }

    .navbar li {
        padding: 15.8px 15px;
    }
    
    .nav-img {
        margin-right: 25px;
    }

    .flex-form-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .col {
        width: 32%;
        margin-right: 20px;
    }

    .input-group {
        max-width: 335px;
    }

    .col:last-child {
        margin-right: 0;
    }

    .bg-diagonal::after {
        content: initial;
    }
}