// ===================
// Partial imports
// ===================

// Base styles, resets and layout
@import 'base/variables',
        'base/base',
        'base/normalize',
        'base/layout',
        'base/mediaqueries';

// Components, navigation and animations
@import 'components/nav',
        'components/components',
        'components/animations',
        'components/example_pages';

// Laturel Mobility spesific stylings
@import 'mobility/mobility';

// Laturel Web spesific stylings
@import 'web/web';

// Vantasia specific stylings
@import 'vantasia/vantasia'