// ===================
// Common components
// ===================

// ------ Landing page component ------

#landing-page {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position:relative;
}

.laturel-image {
    background-image: url(../img/web-design-background.png);
}

.gray-layer {
    background: rgba(75,75,75,0.4);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#header {
    padding-top: 53vh;
    text-align: center;
    color:$light-white;
}

// ------ Images ------ 
.photo-container {
    padding: 0;
}


// ------ Buttons and icons ------ 

.btn {
    display: block;
    color: $light-orange;
    border: none;
    font-size: 1.3em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 1em;
    padding: 0.7em 2em;
    background-color: $accent-blue;
    align-self: center;
    box-shadow: 0 0 3px 1px rgba(50,50,50,0.3);
    transition: box-shadow .5s,
                background-color .5s,
                transform .5s ease-out;
    
    &:hover {
        box-shadow: 0 0 3px 1px rgba(50,50,50,0.7);
        background-color: $light-blue;
        transform: scale(1.01);
        cursor: pointer;
    }

    &:visited {
        color: $light-orange
    }

    &::after {
        height: 0;
        width: 0;
    }
}

.btn-margin {
    margin: 20px 0;
}

.btn-center {
    margin: 0 auto;
}

.form-submit {
    margin-top: 25px !important;
    margin-left: auto;
    margin-right: auto;
}

.icon-medium {
    height: 50px;
    margin-right: 25px;
    margin-bottom: -15px; // Pull the icon down 15px for centering with headings
}

.top-button {
    position: absolute;
    bottom:0;
    right: 0;
    padding-right: 20px;
    height: 50px;
    opacity: 0.4;
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 0.9;
    }

    img {
        height: 50px;
    }

    a::after {
        content: none;
    }
}

.svg-logo {
    height: 200px;
    width: 100%;
    overflow: hidden;
    &:hover {
        animation-play-state: paused, running;
    }
}

.svg-icon {
    display: inline-block;
    height: 50px;
    margin-bottom: -15px; // Centering the icon to headers.
    fill: $gray-700;
}

.svg-rocket {
    overflow: hidden;
    animation: rocket-launch 1s 1s, rocket-wiggle 0.5s;
    animation-play-state: paused;
}

#web-services {
    &:hover .svg-rocket {
    animation-play-state: running;
    }

    &:hover .svg-rocket-flames {
        animation-play-state: running;
    }
}

.svg-rocket-body {
    fill: $gray-700;
}

.svg-rocket-flames {
    fill: transparent;
    animation: rocket-flames 1s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

#contact-form {
    animation: envelope 2s;
    animation-play-state: paused;
}

.envelope-container {
    position: absolute;
    left: 50%; // Center the SVG envelope on top of the form elements
    transform: translateX(-50%); // Center the SVG envelope on top of the form elements
    width: 90%;
    max-width: 500px;

    svg {
        width: 100%;
    }
}

.svg-envelope {
    fill: transparent;
    stroke: $primary-blue-800;
    stroke-width: 2;
    stroke-dasharray: 1600;
    stroke-dashoffset: 1600;
}

.send-envelope {
    animation: dash-offset 1s linear forwards, send-envelope 1s 2s;
    animation-fill-mode: forwards;
}

.hide-form {
    transform-origin: 0 100px;
    animation: hide-element .5s linear forwards;
    animation-fill-mode: forwards;
}

#form-inputs {
    transition: max-height 1s ease-out;
    max-height: 1000px;
    height: auto;   

    &.collapsed {
        max-height: 0;
    }
}

.arrow-down-container {
    margin: auto auto 0 auto;
    display: block;
    height: 75px;
    width: 75px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    &::after {
        content: none;
    }

    .arrow-down {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid white;
        // Center the arrow in the container <a>
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        
    }

    .arrow-black {
        border-top: 10px solid $gray-800;
    }

}

.accordion-item {
    cursor: pointer;
    transition: all .4s ease;
    border-bottom: 2px solid $gray-200;
    position: relative;

    .input-border {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: $primary-blue-500;
        transform: scaleX(0);
        transform-origin: 0 0;
        transition: all .15s ease;
    }
    
    &.active .input-border {
        transform: scaleX(1);
    }
    
    h3 {
        margin: 0;
        padding: 20px 0;
        font-weight: 400;
        display: inline-block;
        margin-left: 20px;
    }

    & h3::after {
        content: "\2228";
        position: absolute;
        right: 0;
        margin-right: 25px;
        font-size: 20px;
    }

    &.active h3::after {
        content: "\2227";
    }

    &.active + .accordion-border {
        transform: scaleX(1);
    }

    .svg-icon {
        transition: all .3s ease-in;
        stroke: $gray-700;
        stroke-width: 10px;
    }

    &.active #icon-lightning {
        fill: #FDD023;
    }

    &.active #icon-thumb {
        fill: $primary-blue-600;
    }

    &.active #icon-person {
        fill: $accent-green-700;
    }

    &.active #icon-heart {
        fill:$accent-red-500;
    }
}

.accordion-panel {
    padding: 10px;
    background: $gray-200;
    max-height: 0;
    overflow: hidden;
    transition: all .4s ease-in-out;
    opacity: 0;

    &.show {
        opacity: 1;
        max-height: 1000px;
    }
}

/* ------ Form components ------ */

.flex-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box {
    background-color: $light-white;
    border-radius: 5px 8px;
    box-shadow: 0 2px 6px 0 rgba(197, 194, 194, 0.2);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 100%;
    max-width: 400px;

    label {
        font-weight: 300;
        margin: 15px 0 5px 11%;
        display: block;
        text-align: left;
    }
}

.result-box {
    ul {
        list-style: none;
    }
}

.result-padding {
    padding: 0 20px;
}

.input-group {
    width: 80%;
    margin: 0 auto;
    display: table;
}

.input-addon {
    display: table-cell;
    white-space: nowrap;
    padding: 0 1em;
    border: 1px $dark-white solid;
    background: $dark-white;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.form-control {
    display: table-cell;
    width: 100%;
    border: 1px $dark-white solid;
    border-radius: 5px 0 0 5px;
    padding: 6px 12px;

    &:focus {
        box-shadow: inset 0 0 3px $main-orange;
        border: 1px $highlight-orange solid;
        border-right: 0;
    }
}

.form-radio {
    text-align: left;

    label {
        display: inline-block; 
        margin:0;
    }
}

.web-form-container {
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
}

.web-input {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-top: 25px; // Make space for the label to move upwards

    .input-label {
        position: absolute;
        top: 16px;
        left: 0;
        transform-origin: 0 0;
        transition: all .2s ease;
    }

    .input-border {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: $primary-blue-500;
        transform: scaleX(0);
        transform-origin: 0 0;
        transition: all .15s ease;
    }    

    input {
        height: 48px;
    }

    textarea {
        height: 120px;
    }
    input,
    textarea {
        width: 100%;
        border: 0;
        padding: 8px 0;
        border-bottom: 2px solid $gray-200;
        background: none;
        border-radius: 0;
        background:none;
        color: $primary-blue-500;
        transition: all .12s ease;
        &:hover {
            background: rgba($primary-blue-800, .03);
        }

        &:not(:placeholder-shown) {
            + span {
                color: $primary-blue-500;
                transform: translateY(-30px) scale(.75);
            }
        }
        &:focus {
            // Move the label over the input box when user selects the input
            background: none;
            outline: none;
            + span {
                color: $primary-blue-500;
                transform: translateY(-30px) scale(.75);
                + .input-border {
                    transform: scaleX(1);
                }
            }    
        }
    }
}

// Changing the checkbox style to slider using the ::before and ::after pseudo-elements
// in .label class inserted to <label>

// <div> parent element for the checkbox
.slider-checkbox {
    position: relative;
    margin: 5px 0;
    

    // Hide the original checkbox and adjust the absolute positioning
    input {
        position: absolute;
        margin: 0;
        margin-top: 1px;
        cursor: pointer;
        opacity: 0;
        top: 0;
        left: 0;
        width: 40px;
        height: 22px;

        // When the hidden checkbox is checked change the .label::before element to $accent-blue
        // color
        &:checked + .label {
            &:before {
                content: "";
                background-color: $primary-blue-600;
            }
            // Moving the box element to right side to show "checked" status
            &:after {
                left: 2px;
            }
        }
    }

    .label {
        position: relative;
        padding-left: 46px;
        margin-left: 0;
        width: 87%;
        
        &:before,
        &:after {
            position: absolute;
            transition: background-color 0.3s, left 0.3s;
        }
        &:before {
            content: "";
            background-color: $gray-400;
            left: 0;
            top: 0;
            height: 22px;
            width: 40px;

        }
        &:after {
            content: "";
            background: $light-white;
            left: 20px;
            top: 2px;
            height: 18px;
            width: 18px;
        }
    }
}

