// ===================
// Common components
// ===================

// ------ Landing page component ------

#landing-page {
    background: url(../img/rocket_launch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 95vh;
}

// ------ Buttons and icons ------ 

.btn {
    display: block;
    color: $light-orange;
    border: none;
    font-size: 1.3em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1em;
    padding: 0.7em 2em;
    max-width: 250px;
    background-color: $accent-blue;
    align-self: center;
    box-shadow: 0 0 3px 1px rgba(50,50,50,0.3);
    transition: box-shadow .5s,
                background-color .5s,
                transform .5s ease-out;
    
    &:hover {
        box-shadow: 0 0 3px 1px rgba(50,50,50,0.7);
        background-color: $light-blue;
        transform: scale(1.01);
        cursor: pointer;
    }
}

.btn-margin {
    margin: 20px 0;
}

.btn-center {
    margin: 0 auto;
}

.form-submit {
    margin-top: 25px !important;
    margin-left: auto;
    margin-right: auto;
}

.icon-medium {
    height: 50px;
    margin-right: 25px;
    margin-bottom: -15px; // Pull the icon down 15px for centering with headings
}

.top-button {
    position: absolute;
    bottom:0;
    right: 0;
    padding-right: 20px;
    height: 50px;
    opacity: 0.4;
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 0.9;
    }

    img {
        height: 50px;
    }
}

.svg-logo {
    height: 200px;
    width: 100%;
    overflow: hidden;
    &:hover {
        animation-play-state: paused, running;
    }
}

.svg-logo-outer {
    fill: transparent;
    animation: fill-logo-outer .8s 2s;
    animation-fill-mode: forwards;
}

.svg-logo-inner {
    fill: transparent;
    stroke: #1e752a;
    stroke-width: 2;
    stroke-dasharray: 1300;
    stroke-dashoffset: 1300;
    animation: dash-offset 2s linear forwards, fill-logo-inner .8s 2s;
    animation-fill-mode: forwards;
}

.svg-icon {
    display: inline-block;
    height: 50px;
}

.svg-rocket {
    overflow: hidden;
    animation: rocket-launch 1s 1s, rocket-wiggle 0.5s;
    animation-play-state: paused;
}

#web-services {
    &:hover .svg-rocket {
    animation-play-state: running;
    }

    &:hover .svg-rocket-flames {
        animation-play-state: running;
    }
}

.svg-rocket-body {
    fill: #3b443c;
}

.svg-rocket-flames {
    fill: transparent;
    animation: rocket-flames 1s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

#contact-form {
    animation: envelope 2s;
    animation-play-state: paused;
}

.envelope-container {
    position: absolute;
    left: 50%; // Center the SVG envelope on top of the form elements
    transform: translateX(-50%); // Center the SVG envelope on top of the form elements

    svg {
        height: 190px;
    }
}

.svg-envelope {
    fill: transparent;
    stroke: black;
    stroke-width: 2;
    stroke-dasharray: 1600;
    stroke-dashoffset: 1600;
    
}

.send-envelope {
    animation: dash-offset 1s linear forwards, send-envelope 1s 2s;
    animation-fill-mode: forwards;
}

.hide-form {
    transform-origin: 0 100px;
    animation: hide-element .5s linear forwards;
    animation-fill-mode: forwards;
}

#form-inputs {
    transition: max-height 1s ease-out;
    max-height: 450px;
    height: auto;   

    &.collapsed {
        max-height: 0;
    }
}

/* ------ Form components ------ */

.form-box {
    background-color: #fefefe;
    border-radius: 5px 8px;
    box-shadow: 0 2px 6px 0 rgba(197, 194, 194, 0.2);
    margin-bottom: 15px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;

    label {
        font-weight: 300;
        margin: 15px 0 5px 11%;
        display: block;
        text-align: left;
    }
}

.result-box {
    ul {
        list-style: none;
    }
    
}

.input-group {
    width: 80%;
    margin: 0 auto;
    display: table;
}

.input-addon {
    display: table-cell;
    white-space: nowrap;
    padding: 0 1em;
    border: 1px $dark-white solid;
    background: $dark-white;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.form-control {
    display: table-cell;
    width: 100%;
    border: 1px $dark-white solid;
    border-radius: 5px 0 0 5px;
    padding: 6px 12px;

    &:focus {
        box-shadow: inset 0 0 3px $main-orange;
        border: 1px rgba(244,145,4, 0.3) solid;
        border-right: 0;
    }
}

.form-radio {
    text-align: left;

    label {
        display: inline-block; 
        margin:0;
    }
}

.web-input {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 280px;
    margin-top: 25px; // Make space for the label to move upwards

    .input-label {
        position: absolute;
        top: 16px;
        left: 0;
        transform-origin: 0 0;
        transition: all .2s ease;
    }

    .input-border {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: #0077FF;
        transform: scaleX(0);
        transform-origin: 0 0;
        transition: all .15s ease;
    }    

    input {
        height: 48px;
    }

    textarea {
        height: 120px;
    }
    input,
    textarea {
        width: 100%;
        border: 0;
        padding: 8px 0;
        border-bottom: 2px solid #c8ccd4;
        background: none;
        border-radius: 0;
        background:none;
        color: #223254;
        transition: all .12s ease;
        &:hover {
            background: rgba(#223254, .03);
        }

        &:not(:placeholder-shown) {
            + span {
                color: #5A667F;
                transform: translateY(-30px) scale(.75);
            }
        }
        &:focus {
            // Move the label over the input box when user selects the input
            background: none;
            outline: none;
            + span {
                color: #0077FF;
                transform: translateY(-30px) scale(.75);
                + .input-border {
                    transform: scaleX(1);
                }
            }    
        }
    }
}

