// ===================
// Navigation and it's components
// ===================

.navbar {
    background-color: #0a5c15;;
    padding-top: 0.5em; /* 8px */
    padding-bottom: 0.5em;
    text-align: center;
    box-shadow: 0px 1px 2px rgba(20, 20, 20, 0.2);

    ul {
        vertical-align: top;
        position: relative;
    }

    li {
        text-align: center;
        list-style: none;
        padding: 15.8px;
    }

    a {
        text-decoration: none;
        color: $dark-white;
        font-weight: 700;
        text-transform: uppercase;
        position: relative; /* Relative so the a:after absolute hover element can be positioned */
    }

    ul li a,
    ul li a:after,
    ul li a:before,
    img,
    img:after,
    img:before {
        transition: all .5s;
    }

    /* Element for the :hover effect */
    ul li a:after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        color: transparent;
        background: #77120D;
        height: 3px;
    }

    ul li a:hover:after {
        width: 100%;
    }

    a:hover,
    img:hover {
    color: #fffffa;
    }
}

.active-nav {  
    a {
        color: #5a5e5e;
    }
}

.nav-img {
    display: block;
    height: 50px;

    img {
        height: 50px;
    }
}