{% extends "vantasia/vantasia_layout.html" %}

{% block title %}Vantasia kotisivut{% endblock %}

{% block content%}
<div class="vantasia-hero-container">
    <div class="vantasia-hero-top">
        <div class="vantasia-logo-container">
            {% if (config['ENV'] == 'production') or config['ENV'] == 'stage' %}  
            <img class="vantasia-logo" src="/static/img/Vantasia_Logo.png" alt="Vantasia logo">
            {% else %}
            <img class="vantasia-logo" src="{{ url_for('static', filename='img/Vantasia_Logo.png') }}" alt="Vantasia logo">
            {% endif %}
        </div>
        <p>Mieskuorolaulua musiikin ystäville pääkaupunkiseudulla</p>
    </div>
    <div class="gray-layer vantasia-hero-bottom">
        {% if (config['ENV'] == 'production') or config['ENV'] == 'stage' %}  
        <img class="vantasia-hero-image" src="/static/img/Stock_Kuoro.jpg" alt="Vantasia logo">
        {% else %}
        <img class="vantasia-hero-image" src="{{ url_for('static', filename='img/Stock_Kuoro.jpg') }}" alt="Vantasia logo">
        {% endif %}
    </div>
    <a href="#vantasia" class="arrow-down-container"><div class="arrow-down"></div></a>
</div>
<div id="vantasia" class="nav-section"><!--Empty div to link the navigation and offset the navigation height --></div>
<div class="container bg-grey top-shadow">
    <div class="column">
        <div class="flex-centered">
            <h1 class="content-header">Vantasia</h1>
        </div>
        <div>
            <p>Vantasian esittely tulee tähän. Mitä kuoro tekee, missä se toimii ja kenelle se on tarkoitettu</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida euismod egestas. In hac habitasse platea dictumst. Curabitur augue nunc, condimentum sit amet lacinia quis, eleifend quis dolor. Sed bibendum mauris sed gravida viverra. Phasellus semper rutrum mauris, porttitor sodales ex dictum vel. Pellentesque elit ante, accumsan et fermentum non, semper nec ex. Ut fringilla neque nec sapien imperdiet, in pulvinar mi consectetur. Nulla vestibulum enim ut scelerisque sollicitudin. Donec pretium dolor odio, ut tristique neque sollicitudin ac. Sed tempus ex ut dolor posuere, ut congue ante tristique. Nunc non mi nec tellus fermentum imperdiet id nec ex. Quisque maximus molestie venenatis. Mauris non tincidunt nunc, vel eleifend erat. Nam placerat metus elit, non elementum diam tempor at. Vivamus convallis, metus at tempor condimentum, ligula lacus scelerisque tortor, id maximus urna nulla a mi.</p>
        </div>
    </div>
</div>
<div id="vantasian-esityksia" class="nav-section"><!--Empty div to link the navigation and offset the navigation height --></div>
<div class="container bg-grey">
    <div class="column vantasia-media-column">            
        <div>
            <h2 class="">Vantasian esityksiä</h2>
            <p>Tähän lista Vantasian esityksistä ja mahdollisesti upotettuja videoita keikista</p>
            <h3>Joulujuhla - Vantaa - 9.12.2019</h3>
            <p>Esitys Vantaan Pyhän Laurin kirkossa pidetystä jouluesityksestä</p>
            <div class="vantasia-video-wrapper">
                <div class="vantasia-media-container vantasia-video-container">
                    <iframe src="https://www.youtube.com/embed/FArPfl6g7_Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <p>Upotettu video</p>
        </div>
        <div>
            <h2>Kuvia esityksistä</h2>
            <p>Tähän kuvia Vantasiasta, esityksistä, jäsenistä yms.</p>
            <div class="vantasia-image-gallery">
                <div class="vantasia-media-container">
                    {% if (config['ENV'] == 'production') or config['ENV'] == 'stage' %}  
                    <img class="vantasia-media-icon" src="/static/img/stock_viulu.jpg" alt="Image icon">
                    {% else %}
                    <img class="vantasia-media-icon" src="{{ url_for('static', filename='img/stock_viulu.jpg') }}" alt="Image icon">
                    {% endif %}
                </div>
                <div class="vantasia-media-container">
                    {% if (config['ENV'] == 'production') or config['ENV'] == 'stage' %}  
                    <img class="vantasia-media-icon" src="/static/img/stock_nuotit.jpg" alt="Image icon">
                    {% else %}
                    <img class="vantasia-media-icon" src="{{ url_for('static', filename='img/stock_nuotit.jpg') }}" alt="Image icon">
                    {% endif %}
                </div>
                <div class="vantasia-media-container">
                    {% if (config['ENV'] == 'production') or config['ENV'] == 'stage' %}  
                    <img class="vantasia-media-icon" src="/static/img/stock_direstraits.jpg" alt="Image icon">
                    {% else %}
                    <img class="vantasia-media-icon" src="{{ url_for('static', filename='img/stock_direstraits.jpg') }}" alt="Image icon">
                    {% endif %}
                </div>
            </div>
        </div>
</div>
</div>
<div id="ota-yhteytta" class="nav-section"><!--Empty div to link the navigation and offset the navigation height --></div>
<div class="container top-shadow">
    <div class="column">
        <div class="web-form-container">
            <h2 class="text-center">Ota yhteyttä</h2>
            <form id="contact-form" action="" method="POST">
                <div class="overflow-hidden envelope-container">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 300">
                        <path id="envelope" class="svg-envelope" d="M 5.3908531,3.4300693 250,179.31399 494.60916,3.4300693 m -489.2183069,0 489.2183069,0 0,293.1398707 -489.2183069,0 z"/>
                    </svg>
                </div>
                <div class="">
                    <div id="form-inputs">
                        {{ form.hidden_tag() }}
                        <div>
                            <label for="name" class="web-input">
                                {{ form.name(placeholder="\xa0") }}
                                <span class="input-label">Nimi</span>
                                <span class="input-border"></span>
                            </label>
                        </div>
                        <div>
                            <label for="email" class="web-input">
                                {{ form.email(placeholder="\xa0") }}
                                <span class="input-label">Sähköposti</span>
                                <span class="input-border"></span>
                            </label>
                        </div>
                        <div>
                            <label for="phone" class="web-input">
                                {{ form.phone(placeholder="\xa0") }}
                                <span class="input-label">Puhelinnumero</span>
                                <span class="input-border"></span>
                            </label>
                        </div>
                        <div>
                            <label for="description" class="web-input">
                                {{ form.description(placeholder="\xa0") }}
                                <span class="input-label">Lisätiedot</span>
                                <span class="input-border"></span>
                            </label>
                            
                        </div>
                        <div>
                            {{ form.preferred_contact.label(class="web-input") }}
                            {% for subfield in form.preferred_contact %}
                            <div class="slider-checkbox">
                                {{ subfield }}
                                {{ subfield.label(class="label") }}
                            </div>
                            {% endfor %}
                        </div>
                        <div>
                            {{ form.recaptcha }}
                        </div>
                        <div>
                            {{ form.submit(class="btn form-submit") }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>	
<div id="yhteystiedot" class="nav-section"><!--Empty div to link the navigation and offset the navigation height --></div>
<div  class="container bg-grey top-shadow">
    <div class="column">
        <div class="text-center">
            <div class="h-icon-aligned">
                {% if (config['ENV'] == 'production') or config['ENV'] == 'stage' %}
                <img src="/static/img/phone.svg" alt="phone icon" class="svg-icon">
                {% else %}
                <img src="{{url_for('static', filename='img/phone.svg')}}" alt="phone icon" class="svg-icon">
                {% endif %}
                <h1 class="content-header">Yhteystiedot</h1>
            </div>
            <div class="vantasia-contact-info">
                <div class="vantasia-contact-person">
                    <div class="vantasia-contact-image">
                        {% if (config['ENV'] == 'production') or config['ENV'] == 'stage' %}  
                        <img class="vantasia-person-icon" src="/static/img/person.svg" alt="Person icon">
                        {% else %}
                        <img class="vantasia-person-icon" src="{{ url_for('static', filename='img/person.svg') }}" alt="Person icon">
                        {% endif %}        
                    </div>
                    <div class="vantasia-contact-text">
                        <p>Erkki Esimerkki</p>
                        <p>+358 (0)50 1234 123</p>
                        <a href="mailto:#">e.esimerkki@esmes.fi</a>        
                    </div>
                </div>
                <div class="vantasia-contact-person">
                    <div class="vantasia-contact-image">
                        {% if (config['ENV'] == 'production') or config['ENV'] == 'stage' %}  
                        <img class="vantasia-person-icon" src="/static/img/person.svg" alt="Person icon">
                        {% else %}
                        <img class="vantasia-person-icon" src="{{ url_for('static', filename='img/person.svg') }}" alt="Person icon">
                        {% endif %}        
                    </div>
                    <div class="vantasia-contact-text">
                        <p>Markku Musikantti</p>
                        <p>+358 (0)50 1234 987</p>
                        <a href="mailto:#">m.musikantti@esmes.fi</a>
                    </div>
                </div>
                <div class="vantasia-contact-person">
                    <div class="vantasia-contact-image">
                        {% if (config['ENV'] == 'production') or config['ENV'] == 'stage' %}  
                        <img class="vantasia-person-icon" src="/static/img/person.svg" alt="Person icon">
                        {% else %}
                        <img class="vantasia-person-icon" src="{{ url_for('static', filename='img/person.svg') }}" alt="Person icon">
                        {% endif %}        
                    </div>
                    <div class="vantasia-contact-text">
                        <p>Pentti Baritoni</p>
                        <p>+358 (0)50 1234 567</p>
                        <a href="mailto:#">p.baritoni@esmes.fi</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}