{% extends "layout.html" %}
{% block content%}

		<div class="container-fluid body-div">
			<div class="row">
				<div class="col-lg-12">
					<h1>Electric Vehicles</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<p class="body-p-paddings">Page about EV:s</p>
				</div>
			</div>
			<div class="row">
				<form action="{{ url_for('cars') }}" method="post">
					<div class="form-group">
						<div class="row">
						<div class="col-lg-3 text-center">
							<p>
							{{ eform.econsumption.label(class="form-control-label") }}
							<br>
							{{ eform.econsumption }}
							</p>
							<p>
							{{ eform.eprice.label(class="form-control-label") }}
							<br>
							{{ eform.eprice }}
							</p>
							<p>
							{{ eform.eweight.label(class="form-control-label") }}
							<br>
							{{ eform.eweight }}
							</p>
							<p>
							{{ eform.etax.label(class="form-control-label") }}<br>
							{{ eform.etax }}
							</p>
							<p>
							{{ eform.echarger.label(class="form-control-label") }}
							<br>
							{% for subfield in eform.echarger%}
							<tr>
								<td>{{ subfield }} </td>
								<td>{{ subfield.label }} </td>
							</tr>
							{% endfor %}
							</p>
						</div>
						<div class="col-lg-3 text-center">
							<p>
							{{ gform.gconsumption.label(class="form-control-label") }}
							<br>
							{{ gform.gconsumption }}
							</p>
							<p>
							{{ gform.gprice.label(class="form-control-label") }}
							<br>
							{{ gform.gprice }}
							</p>
							<p>
							{{ gform.gtax.label(class="form-control-label") }}
							<br>
							{{ gform.gtax }}
							</p>
						</div>
						<div class="col-lg-3 text-center">
							<p>
							{{ dform.dconsumption.label }}
							<br>
							{{ dform.dconsumption }}
							</p>
							<p>
							{{ dform.dprice.label }}
							<br>
							{{ dform.dprice }}
							</p>
							<p>
							{{ dform.dweight.label }}
							<br>
							{{ dform.dweight }}
							</p>
							<p>
							{{ dform.dtax.label }}
							<br>
							{{ dform.dtax }}
							</p>
						</div>
					</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-lg-offset-4" style="margin-bottom: 20px">
							<p>
							{{ kmform.drivekm.label }}
							<br>
							{{ kmform.drivekm }}
							</p>
							<div class="text-center">
							{{ kmform.submit(class="btn btn-primary") }}
							</div>
						</div>
						
					</div>
				</form>
			</div>
			<div class="row">
				<div class="col-lg-5 col-lg-offset-3">
					<table class="table table-hover">
						<tr>
							<th>Electric</th>
							<th>Gasoline</th>
							<th>Diesel</th>
						</tr>
						<tr>
							<td>{{ eyearly }}</td>
							<td>{{ gyearly }}</td>
							<td>{{ dyearly }}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
{% endblock %}