{% extends "layout.html" %}
{% block content%}

		<div class="container-fluid body-div">
			<div class="row">
				<div class="col-lg-12">
					<h1>Chargers</h1>
				</div>
			</div>
		</div>
		<div class="container-fluid body-div">
			<div class="row"">
				<div class="col-lg-12">
					<p>Charging electric vehicle is (usually) very simple, just plug it in, identify if needed and then do something that actually interests you.</p>
					<p>Planning the charging site is bit more difficult, but nothing that you couldn't do with a bit of help! We're here to kickstart your charging site planning and building process, be it home or office.</p>
				</div>
			</div>	
			<div class="row"">
				<div class="col-lg-12">
					<form action="{{ url_for('chargers') }}" method="post">
						<fieldset class="form-group">
							<div class="form-group">
								{{ form.name.label(class="form-control-label") }}
								{{ form.name(class="form-control") }}
							</div>
							<div class="form-group">
								{{ form.date1.label(class="form-control-label") }}
								{{ form.date1(class="form-control") }}
							</div>
							<div class="form-group">
								{{ form.date2.label(class="form-control-label") }}
								{{ form.date2(class="form-control") }}
							</div>
							<div>
								{{ form.submit(class="btn btn-primary") }}
							</div>
						</fieldset>
						<p>Name value {{ form.name.data }}</p>
						<p>Departure time value {{ form.date1.data }}</p>
						<p>Departure time value {{ form.date2.data }}</p>
						<p>Departure time value {{ deptTime }}</p>

					
					</form>	
				</div>	
			</div>		
		</div>
{% endblock %}