{% extends "layout.html" %}
{% block content%}

		<div class="container body-div">
			<div class="row">
				<div class="col-lg-12">
					<h1>EV terminology</h1>
					<p style="padding-left: 5px">Here is the basic terms and acronyms related to electric vehicles.</p>
				</div>
			</div>
		</div>
		<div class="container body-div">
			<div class="row">
				<div class="col-lg-6" id="vehicles">
					<h3>Vehicle terminology</h3>
					<table class="table table-hover">
						<tr>	
							<th>Term</th>
							<th>Explanation</th>
						</tr>
						<tr>
							<td>ICE</td>
							<td>Internal Combustion Engine - The "original" engine which is used to propel vehicles. Heat engine which uses diesel, gasoline or other kind of fuel to create motion in vehicles.</td>
						</tr>
						<tr>
							<td >BEV</td>
							<td>Battery Electric Vehicle - Vehicle which is propelled with electric motor which energy is supplied completely by battery in the car. Does not have Internal Combustion Engine at all.</td>
						</tr>
						<tr>
							<td>HEV</td>
							<td>Hybrid Electric vehicle - Vehicle which is mainly powered by internal combustion engine but has electric motor which is used to assist the ICE. Electric motor is powered by battery but <strong>can't </strong> be charged from the electric grid.</td>
						</tr>
						<tr>
							<td>PHEV</td>
							<td>Plug-In Hybrid Vehicle - Vehicle which has internal combustion engine and electric motor. Electric motor is powered by the battery and <strong>can</strong> be charger from the electric grid.</td>
						</tr>
					</table>
				</div>
				<div class="col-lg-6" id="chargers">
					<h3>Charger terminology</h3>
					<table class="table table-hover">
						<tr>
							<th>Term</th>
							<th>Explanation</th>
						</tr>
						<tr>
							<td>CHAdeMO</td>
							<td>DC charging standard used mainly by Nissan and Tesla Model S/X (adapter) EV:s.</td>
						</tr>
						<tr>
							<td>CCS</td>
							<td>DC charging standard used mainly by European car manufacturers like Audi, BMW and Mercedes-Benz EV:s.</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
						</tr>
					</table>
				</div>
			</div>
		</div>	
{% endblock %}