// ===================
// Laturel Mobility spesific styling
// ===================


.e-top {
	border-top: 3px solid #2a5499;
}

.g-top {
	border-top: 3px solid #3e9b3c;
}

.d-top {
	border-top: 3px solid #322c2b;
}

.general-top {
	border-top: 3px solid #f4c542;
}

.ecard {
	border-bottom: 2px solid #2a5499;
}

.gcard {
	border-bottom: 2px solid #3e9b3c;
}

.dcard {
	border-bottom: 2px solid #322c2b;
}

.operational-result {
    margin: 15px 0;
}

.cars-col {
	// Column for the Cars page input boxes
	flex: 1;
	max-width: 400px;
}