/* ===================
Color layout
=================== */

/* -------------------
Quicksilver: #a4a5ae
Dim gray: #6d676e
Orange: #f49104
Alice blue (white): #f4faff
Platinum: #dee7e7

------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ===================
Base style
=================== */

body {
    height: 100%;
    font-family: 'Karla', sans-serif;
    background-color: #f4faff;
}

footer {
    height: 1.5rem;
    width: 100%;
    text-align: center;
    font-size: 0.64em;
}

/* TEMP */
h1, h2, h3,
h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #3d3f3f;
}

/* ===================
Typography
=================== */

p {
    line-height: 1.5;
}

/* ===================
ID selectors
=================== */


/* ===================
Class selectors
=================== */

.navbar {
    background-color: #f49104;
    padding-top: 0.5em; /* 8px */
    padding-bottom: 0.5em;
    text-align: center;
    box-shadow: 0px 1px 2px rgba(20, 20, 20, 0.2);
}

.navbar ul {
    vertical-align: top;
    position: relative;
}

.navbar li {
    text-align: center;
    list-style: none;
    padding: 15.8px;
}

.navbar a {
    text-decoration: none;
    color: #dee7e7;
    font-weight: 700;
    text-transform: uppercase;
    position: relative; /* Relative so the a:after absolute hover element can be positioned */
}

.navbar ul li a,
.navbar ul li a:after,
.navbar ul li a:before,
.navbar img,
.navbar img:after,
.navbar img:before {
    transition: all .5s;
}

/* Element for the :hover effect */
.navbar ul li a:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    color: transparent;
    background: #aaa;
    height: 3px;
}

.navbar ul li a:hover:after {
    width: 100%;
}

.navbar a:hover,
.navbar img:hover {
    color: #5a5e5e;
    }

.nav-img {
    display: block;
    height: 50px;
}

.nav-img img {
    height: 50px;
}

.main-container {
    min-height: calc(100vh - 1.5rem - 50px); /* Full view height minus footer (1.5rem) and back to top button (50px) */
    position: relative;
}

.top-button {
    text-align: right;
    padding-right: 20px;
    height: 50px;
}

.top-button img {
    height: 50px;
}

.content {
    display: block;
    margin-top: 1em;
}


/* Flex content boxes */
.f-content {
    display: flex;
    margin: 2em 0;
    flex-direction: column;
    min-height: 200px;
    position: relative;
}

.f-content h1,
.f-content h2,
.f-content h3,
.f-content h4 {
    margin-bottom: .3em;
}

.f-content p {
    margin: .5em 0;
}

.f-content .btn {
    margin-top: auto;
}


.content-main {
    text-align: center;
    margin: 0 auto;
    padding: 1px 0; /* Preventing the container from collapsing */
    width: 90%;

}

.content-text {
    display: flex;
    flex-direction: column;
    height: calc(90vh - 116px); /* 116px is the height of the navigation */
    justify-content: center;
}

.content-img img {
    width: 100vw;
    margin-left: -6%;
    
}

.tagline {
    color: #9fa5a5;
}

.btn {
    display: block;
    color: #000;
    font-size: 1.3em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1em;
    padding: 0.7em 0;
    background-color: #dee7e7;
    width: 80%;
    align-self: center;
    box-shadow: 0 0 3px 1px rgba(50,50,50,0.3);
    transition: box-shadow .5s,
                background-color .5s,
                transform .5s ease-out;
    
}

.btn:hover {
    box-shadow: 0 0 3px 1px rgba(50,50,50,0.7);
    background-color: #b8e7e7;
    transform: scale(1.1);
}

.icon-ev {
    height: 50px;
    position: absolute;
    top: -15px;
    left: 10%;
}


/* ===================
Media queries
=================== */

/* ---------------
Medium screens
 ---------------*/
@media (min-width: 768px) {

    footer {
        bottom: 4px;
        height: 17px;
        font-size: 1em;
    }

    .navbar {
        padding-left: 150px;
        text-align: left;
    }

    .navbar ul,
    .navbar li,
    .navbar .nav-img {
        display: inline-block;
    }

    .navbar li {
        padding: 15.8px 15px;
    }
    
    .nav-img {
        margin-right: 25px;
    }

    .top-button {
        position: absolute;
        right: 5px;
        bottom: 5px;
    }
}