/* ===================
Color layout
=================== */

/* -------------------
Quicksilver: #a4a5ae
Dim gray: #6d676e
Orange: #f49104
Alice blue (white): #f4faff
Platinum: #dee7e7

------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ===================
Base style
=================== */

body {
    height: 100%;
    font-family: 'Karla', sans-serif;
    background-color: #f4faff;
}

footer {
    height: 1.5rem;
    width: 100%;
    text-align: center;
    font-size: 0.64em;
}

/* ===================
Typography
=================== */

p {
    line-height: 1.5;
}

/* ===================
ID selectors
=================== */


/* ===================
Class selectors
=================== */


/* ------ Navigation ------ */
.navbar {
    background-color: #f49104;
    padding-top: 0.5em; /* 8px */
    padding-bottom: 0.5em;
    text-align: center;
    box-shadow: 0px 1px 2px rgba(20, 20, 20, 0.2);
}

.navbar ul {
    vertical-align: top;
    position: relative;
}

.navbar li {
    text-align: center;
    list-style: none;
    padding: 15.8px;
}

.navbar a {
    text-decoration: none;
    color: #dee7e7;
    font-weight: 700;
    text-transform: uppercase;
    position: relative; /* Relative so the a:after absolute hover element can be positioned */
}

.navbar ul li a,
.navbar ul li a:after,
.navbar ul li a:before,
.navbar img,
.navbar img:after,
.navbar img:before {
    transition: all .5s;
}

/* Element for the :hover effect */
.navbar ul li a:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    color: transparent;
    background: #aaa;
    height: 3px;
}

.navbar ul li a:hover:after {
    width: 100%;
}

.navbar a:hover,
.navbar img:hover {
    color: #5a5e5e;
    }

.nav-img {
    display: block;
    height: 50px;
}

.nav-img img {
    height: 50px;
}

/* ------ Containers and flexboxes ------ */

.main-container {
    min-height: calc(100vh - 1.5rem - 50px); /* Full view height minus footer (1.5rem) and back to top button (50px) */
    position: relative;
}

.main-header {
    display: flex;
    flex-direction: column;
    height: calc(90vh - 116px); /* 116px is the height of the navigation */
    justify-content: center;
}



.content {
    margin: 0 auto;
    width: 90%;
}

.content-text {
    width: 90%;
    margin: 1rem auto;
}

.content-text h1,
.content-text h2,
.content-text h3,
.content-text h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.content-text p {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}




/* Flex content boxes */
.f-content {
    display: flex;
    margin: 2em 0;
    flex-direction: column;
    min-height: 200px;
    position: relative;
}

.f-content h1,
.f-content h2,
.f-content h3,
.f-content h4 {
    margin-bottom: .3em;
}

.f-content p {
    margin: .5em 0;
}

.f-content .btn {
    margin-top: auto;
}

/* ------ Form layouts ------ */

.form-box {
    background-color: #fefefe;
    border-radius: 5px 8px;
    box-shadow: 0 2px 6px 0 rgba(197, 194, 194, 0.2);
    margin-bottom: 15px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.form-box label {
    font-weight: 300;
    margin: 15px 0 5px 11%;
    display: block;
    text-align: left;
}

.select-box {
    border-radius: 5px;
}

.result-box ul {
    list-style: none;
}

.input-group {
    width: 80%;
    margin: 0 auto;
    display: table;
}

.input-addon {
    display: table-cell;
    white-space: nowrap;
    padding: 0 1em;
    border: 1px #dee7e7 solid;
    background: #dee7e7;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.form-control {
    display: table-cell;
    width: 100%;
    border: 1px #dee7e7 solid;
    border-radius: 5px 0 0 5px;
    padding: 6px 12px;
}

/* Cars page forms and result styling */

.e-top {
	border-top: 8px solid #2a5499;
}

.g-top {
	border-top: 8px solid #134712;
}

.d-top {
	border-top: 8px solid #322c2b;
}

.general-top {
	border-top: 8px solid #f4c542;
}

.ecard {
	border-bottom: 4px solid #2a5499;
}

.gcard {
	border-bottom: 4px solid #134712;
}

.dcard {
	border-bottom: 4px solid #322c2b;
}

.operational-result {
    margin: 15px 0;
}

/* ------ Text styling and positioning ------ */

.tagline {
    color: #9fa5a5;
}

.subtext {
    font-size: 0.8em;
    color: #9fa5a5;
}

.subtext a {
    color: #9fa5a5;
}

.text-muted {
    color: #9fa5a5;
}

.text-center {
    text-align: center;
}

.text-center-left {
    display: inline-block;
    text-align: left;
}

.text-bold {
    font-weight: 700;
}

.text-form-header {
    text-align: center;
    margin: 1.5625rem 0 1rem;
    font-weight: 300;
}

/* ------ Buttons and icons ------ */

.btn {
    display: block;
    color: #000;
    font-size: 1.3em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1em;
    padding: 0.7em 2em;
    max-width: 250px;
    background-color: #dee7e7;
    align-self: center;
    box-shadow: 0 0 3px 1px rgba(50,50,50,0.3);
    transition: box-shadow .5s,
                background-color .5s,
                transform .5s ease-out;
    
}

.btn:hover {
    box-shadow: 0 0 3px 1px rgba(50,50,50,0.7);
    background-color: #b8e7e7;
    transform: scale(1.1);
}

.btn-margin {
    margin: 20px 0;
}

.btn-center {
    margin: 0 auto;
}

.icon-ev {
    height: 50px;
    position: absolute;
    top: -15px;
    left: 10%;
}

.top-button {
    text-align: right;
    padding-right: 20px;
    height: 50px;
}

.top-button img {
    height: 50px;
}

/* ===================
Media queries
=================== */

/* ---------------
Medium screens
 ---------------*/
@media (min-width: 768px) {

    footer {
        bottom: 4px;
        height: 17px;
        font-size: 1em;
    }

    .navbar {
        padding-left: 150px;
        text-align: left;
    }

    .navbar ul,
    .navbar li,
    .navbar .nav-img {
        display: inline-block;
    }

    .navbar li {
        padding: 15.8px 15px;
    }
    
    .nav-img {
        margin-right: 25px;
    }

    .top-button {
        position: absolute;
        right: 5px;
        bottom: 5px;
    }

    .flex-form-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .col {
        width: 32%;
        margin-right: 20px;
    }

    .input-group {
        max-width: 335px;
    }

    .col:last-child {
        margin-right: 0;
    }
}