html {
    position: relative;
    min-height: 100%;
}

body {
	background-color: #eeeeee;
	margin: 0 0 16px; /* bottom = footer height */

}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 16px;
    width: 100%;
}

footer > p{
	font-size: 10px;
	margin:0px;
}

h1, h2, h3 {
	margin-top:20px;
	margin-bottom: 15px;
	margin-left: 15px;
}

p {
	margin-left: 15px;
}

ul {
	list-style: none;
	padding: 0px; 
}



/* Identifiers */

#main-header {
	
	background: 
			  linear-gradient(rgba(244,145,4, 1), rgba(244,145,4, 0.6) 5%, rgba(238,238,238,0.6) 60%,  rgba(238,238,238,1)),
			  url("../img/header_car.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 100vh;
	color: #f0f0f0;;
}

#name{
	margin-bottom: 0px;
	margin-left: 0px;
}

#tagline{
	margin-top: 0px;
	margin-bottom: 0px;
}

#welcome{
	margin-top: 10px;
	margin-bottom: 35px;
}

#results{
	padding-bottom: 30px;
}

#logo {
	height: 50px;
}

#car-info{
	display:none;
}

#car-hide::after { 
	content: "";
	position: absolute;
	bottom: 5px; 
	border-top:15px solid #da8307;
	border-left:15px solid transparent;
	border-right:15px solid transparent;

}

/* Adjusting the arrow for smaller screens */

@media (min-width: 1200px) {
	#car-hide::after { 
		bottom: 20px; 
	}
}

#operational-hide::after { 
	content: "";
	position: absolute;
	bottom: 5px; 
	border-top:15px solid #da8307;
	border-left:15px solid transparent;
	border-right:15px solid transparent;

}

/* Adjusting the arrow for smaller screens */

@media (min-width: 1200px) {
	#operational-hide::after { 
		bottom: 20px; 
	}
}


#operational-info{
	display: none
}

/* End of identifiers */

/* Classes */

.nav-img{
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	padding-left: 15px;
	padding-right: 15px;
}

.nav-text{
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}

.active-nav{
	background-color: #da8307;
}

.btn-wrap {
	white-space: normal;
	max-width: 300px;
	word-wrap:  break-word;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}
.btn-margin{
	margin-left: 15px;
}

.form-textbox {
	max-width: 300px;
	cursor: pointer;
}

.form-borders{
	border-top: 3px solid #da8307;
	padding-top: 15px;
	margin-left: 58px;
	margin-right: 58px;
}

.header-width{
	max-width: 240px;
}

.label-margin{
	margin-top: 5px;
}

.input-margins{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	max-width: 15em;
}

.header-split{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-bottom: 20px;
}

.select-box{
	max-width: 200px;
	height: 55px;
	margin-left: auto;
	margin-right: auto;
}

.addon-width{
	width: 75px;
}

.form-box{
	background-color: #fefefe ;
	border-top-left-radius: 5px ; 
	border-top-right-radius: 5px ; 
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	color: hsl(0, 0%, 13%);
	display: inline-block;
	width: 95%;
	margin-bottom: 5px;
}

.e-top{
	border-top: 8px solid #2a5499;
}

.g-top{
	border-top: 8px solid #134712;
}

.d-top{
	border-top: 8px solid #322c2b;
}

.general-top{
	border-top: 8px solid #f4c542;
}

.box-header{
	font-weight: 600;
}

.ecard{
	border-bottom: 4px solid #2a5499;
}

.gcard{
	border-bottom: 4px solid #134712;
}

.dcard{
	border-bottom: 4px solid #322c2b;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* inline-block space fix */
    margin-right:-4px;
}

.big-btn{
	width: 10em;
	height: 3em;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}
.text-center-left{
	text-align: left;
	display: inline-block;
}

.tooltips:hover .tooltiptexts {
    display: block;
}


.tooltiptexts {
    display: none;
    background: #fefefe;
    margin-left: 295px;
    margin-top: -22px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width:200px;
    height:100px;
    border-radius: 5px;
    border:1px solid black;
}

.tooltips {
    margin:0px;
}

.row-light{
	background-color: #d4d4dc;
}

.row-dark{
	background-color: #1d1e22;
}

.top-button{
	float: right;
	padding: 10px;
}

.full-models{
	text-transform: capitalize
}

/* End of classes */
