/* ===================
Color layout
=================== */

/* -------------------
Quicksilver: #a4a5ae
Dim gray: #6d676e
Orange: #f49104
Alice blue (white): #f4faff
Platinum: #dee7e7

------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ===================
Base style
=================== */

body {
    height: 100%;
    font-family: 'Karla', sans-serif;
    background-color: #f4faff;
    margin-bottom: 16px; /* For the footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 16px;
    height: 16px;
    width: 100%;
    text-align: center;
    font-size: 0.64em;
}

/* TEMP */
img {
    height: 100px;
}

h1, h2, h3,
h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #3d3f3f;
}

/* ===================
Typography
=================== */


/* ===================
ID selectors
=================== */


/* ===================
Class selectors
=================== */

.navbar {
    background-color: #f49104;
    padding-top: 0.5em; /* 8px */
    padding-bottom: 0.5em;
    text-align: center;
    box-shadow: 0px 1px 2px rgba(20, 20, 20, 0.2);
}

.navbar ul {
    vertical-align: top;
    position: relative;
}

.navbar li {
    text-align: center;
    list-style: none;
    padding: 15.8px;
}

.navbar a {
    text-decoration: none;
    color: #dee7e7;
    font-weight: 700;
    text-transform: uppercase;
    position: relative; /* Relative so the a:after absolute hover element can be positioned */
}

.navbar ul li a,
.navbar ul li a:after,
.navbar ul li a:before,
.navbar img,
.navbar img:after,
.navbar img:before {
    transition: all .5s;
}

/* Element for the :hover effect */
.navbar ul li a:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    color: transparent;
    background: #aaa;
    height: 1px;
}

.navbar ul li a:hover:after {
    width: 100%;
}

.navbar a:hover,
.navbar img:hover {
    color: #5a5e5e;
    }

.nav-img {
    display: block;
    height: 50px;
}

.nav-img img {
    height: 50px;
}

.main-container {
    width: 90%;
    height: 520px;
    margin: 0 auto;
    position: relative;

}

.top-button {
    position: absolute;
    right: 5px;
    bottom: 30px;
}

.top-button img {
    height: 50px;
}

.content {
    display: block;
    margin-top: 1em;
}

.content-text {
    text-align: center;
    position: absolute;
    top: 40%;
}

.tagline {
    color: #9fa5a5;
}

/* ===================
Media queries
=================== */

/* ---------------
Medium screens
 ---------------*/
@media (min-width: 768px) {

    footer {
        bottom: 4px;
        height: 17px;
        font-size: 1em;
    }

    .navbar {
        padding-left: 150px;
        text-align: left;
    }

    .navbar ul,
    .navbar li,
    .navbar .nav-img {
        display: inline-block;
    }

    .navbar li {
        padding: 15.8px 15px;
    }
    
    .nav-img {
        margin-right: 25px;
    }

    .top-button {
        position: absolute;
        right: 5px;
        bottom: 5px;
    }
}