/* ===================
Color layout
=================== */

/* -------------------
Quicksilver: #a4a5ae
Dim gray: #6d676e
Orange: #f49104
Alice blue (white): #f4faff
Platinum: #dee7e7

------------------- */

/* ===================
Base style
=================== */


html {
    position: relative;
    min-height: 100%;
}

body {
	font-family: 'Karla', sans-serif;
	background-color: #f4faff;
	margin: 0 0 16px; /* bottom = footer height */

}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 16px;
    width: 100%;
}

footer > p{
	font-size: 10px;
	margin:0px;
}

h1, h2, h3 {
	margin-top:20px;
	margin-bottom: 15px;
	margin-left: 15px;
}

h1, h2, h3,
h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

p {
	margin-left: 15px;
}

ul {
	list-style: none;
	padding: 0px; 
}



/* Identifiers */

#name{
	margin-bottom: 0px;
	margin-left: 0px;
}

#welcome{
	margin-top: 10px;
	margin-bottom: 35px;
}

#results{
	padding-bottom: 30px;
	box-shadow: 0px 0px 2px;
}

#logo {
	height: 50px;
}

#car-info{
	display:none;
}

#car-hide::after { 
	content: "";
	position: absolute;
	bottom: 5px; 
	border-top:15px solid #da8307;
	border-left:15px solid transparent;
	border-right:15px solid transparent;

}

/* Adjusting the arrow for smaller screens */

@media (min-width: 1200px) {
	#car-hide::after { 
		bottom: 20px; 
	}
}

#operational-hide::after { 
	content: "";
	position: absolute;
	bottom: 5px; 
	border-top:15px solid #da8307;
	border-left:15px solid transparent;
	border-right:15px solid transparent;

}

/* Adjusting the arrow for smaller screens */

@media (min-width: 1200px) {
	#operational-hide::after { 
		bottom: 20px; 
	}
}


#operational-info{
	display: none
}

/* Classes */

.nav-img{
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	padding-left: 15px;
	padding-right: 15px;
}

.nav-text{
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}

.active-nav{
	background-color: #e78a04;
	box-shadow: inset 0px 0px 2px rgba(80,80,80,0.3);
	border-radius: 5px;
}

.tagline {
	margin: 0;
	font-weight: 700;
}

.main-header {
	margin-top: 20px;
	background-color: #f4faff;
	color: #49464a;
	height: 80%;
	
}

.main-header h1 {
	font-size: 3.815em;
}

.main-header h1 + h1 {
	margin-top: initial;
}

.main-header img {
	height: 100%;
	max-width: 100%;
}

.main-content {
	height: 80%;
}

@media (max-width: 70rem) {
	.main-header {
		padding: 0;
	}
	.main-header h1 {
		font-size: 3.052em;
	}
}

@media (max-width: 52rem) {
	.main-header h1 {
		font-size: 2.441em;
	}
}

@media (max-width: 42rem) {
	.main-header h1 {
		font-size: 1.953em;
	}
}

.btn-wrap {
	white-space: normal;
	max-width: 300px;
	word-wrap:  break-word;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}
.btn-margin{
	margin-left: 15px;
}

.form-textbox {
	max-width: 300px;
	cursor: pointer;
}

.form-borders {
	border-top: 3px solid #da8307;
	padding-top: 15px;
	margin-left: 58px;
	margin-right: 58px;
}

.header-width{
	max-width: 240px;
}

.label-margin{
	margin-top: 5px;
}

.input-margins{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	max-width: 15em;
}

.header-split{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-bottom: 20px;
}

.select-box{
	max-width: 200px;
	height: 55px;
	margin-left: auto;
	margin-right: auto;
}

.addon-width{
	width: 75px;
}

.form-box{
	background-color: #fefefe ;
	border-top-left-radius: 5px ; 
	border-top-right-radius: 5px ; 
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	color: hsl(0, 0%, 13%);
	display: inline-block;
	width: 95%;
	margin-bottom: 5px;
}

.e-top{
	border-top: 8px solid #2a5499;
}

.g-top{
	border-top: 8px solid #134712;
}

.d-top{
	border-top: 8px solid #322c2b;
}

.general-top{
	border-top: 8px solid #f4c542;
}

.box-header{
	font-weight: 600;
}

.ecard{
	border-bottom: 4px solid #2a5499;
}

.gcard{
	border-bottom: 4px solid #134712;
}

.dcard{
	border-bottom: 4px solid #322c2b;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* inline-block space fix */
    margin-right:-4px;
}

.big-btn{
	width: 10em;
	height: 3em;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}
.text-center-left{
	text-align: left;
	display: inline-block;
}

.tooltips:hover .tooltiptexts {
    display: block;
}


.tooltiptexts {
    display: none;
    background: #fefefe;
    margin-left: 295px;
    margin-top: -22px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width:200px;
    height:100px;
    border-radius: 5px;
    border:1px solid black;
}

.tooltips {
    margin:0px;
}

.row-light{
	background-color: #a4a5ae;
}

.row-dark{
	background-color: #1d1e22;
}

.top-button{
	float: right;
	padding: 10px;
}

.full-models{
	text-transform: capitalize
}

/* End of classes */
