{% extends "layout.html" %}

{% block title %}
	About
{% endblock %}

{% block content%}
		<div class="row">
			<div class="col-lg-6">
				<h1>About me</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<p>I'm automotive engineer who's enthusiastic about electric vehicles and technology surrounding them. I'm working as project manager to major charging service provider in Nordics. I've worked with different kind of EV:s and chargers and charging sites, so I have good understanding of the practicalities related to electric vehicles.</p>
			</div>
{% endblock %}