{% extends "layout.html" %}

{% block title %}Cars{% endblock %}
{%block carscript %}<script type="text/javascript" src="{{ url_for('static', filename='js/cars.js') }} " defer></script> {% endblock %}


{% block content%}
	<div class="content-text">
			<h2>Total cost of ownership</h2>
			<p>Comparing different cars and their costs can be a bit of hassle nowdays. This calculator does the hard work for you.</p>
			<p>You can compare models in Laturel database or input your own values to match another car or your preferences.</p>
			<p class="subtext">Car weight is used to calculate the drive power tax when applicable. More details can be found from <a href="https://www.traficom.fi/en/transport/road/structure-and-quantity-vehicle-tax">Traficom</a> site. Operational costs use the <a href="https://www.traficom.fi/en/transport/road/structure-and-quantity-vehicle-tax">Finnish car taxation</a> as base.</p>
	</div>
	<div class="content">
	<form action="{{ url_for('cars') }}" method="post">
		<div class="flex-form-container">
			<div class="form-box e-top col">
					{{ car_form.ecar_model.label(class="form-control-label label-margin") }}					
					<div class="select-box">
						{{ car_form.ecar_model(class="form-control") }}
					</div>
			</div>
			<div class="form-box g-top col">
				{{ car_form.gcar_model.label(class="form-control-label label-margin") }}					
				<div class="select-box">
					{{ car_form.gcar_model(class="form-control") }}
				</div>
			</div>
			<div class="form-box d-top col">
				{{ car_form.dcar_model.label(class="form-control-label label-margin") }}		
				<div class="select-box">
					{{ car_form.dcar_model(class="form-control") }}
				</div>
			</div>
		</div>
	</form>

	<div class="btn-margin">
	{{ form.submit(class="btn btn-center") }}
	</div>

	<form action="" method="">
	
		<!-- General information form -->
		<div class="row">
			<div class="col-lg-12">
				<h3>Ownership information</h3>	
			</div>
			<div class="flex-form-container">
				<div class="form-box general-top col">
					{{ form.owntime.label(class="form-control-label label-margin") }}
					<div class="input-group input-margins">
					{{ form.owntime(class="form-control") }}
					<span class="input-addon">years</span>
					</div>
					{{ form.drivekm.label(class="form-control-label label-margin") }}
					<div class="input-group input-margins">
						{{ form.drivekm(class="form-control") }}
						<span class="input-addon">km/year</span>
					</div>
				</div>
			</div>
		</div>
		<!--  End of general information-->
		
		<div class="row">
			<div class="col-lg-12">
				<h3 id="car-hide" class="form-textbox">Car information</h3>	
			</div>
		</div>

			<div class="form-borders"></div>
			<!-- Car information row -->
			<div id="car-info" class="flex-form-container">
				
				<!-- EV Car information -->
				<div class="col">
					<div class="form-box e-top">
						<div class="box-header">
							<h4>Electric</h4>
						</div>
						<div id="ecar-full-model" class=" text-muted full-models">
							<!-- EV full model information updated by JS -->
						</div>
						{{ form.ecar_price.label(class="form-control-label label-margin") }}
						<div class="input-group input-margins">
						{{ form.ecar_price(class="form-control") }}
							<span class="input-addon">€</span>
						</div>
						{{ form.ecar_consumption.label(class="form-control-label label-margin") }}
						<div class="input-group input-margins">
						{{ form.ecar_consumption(class="form-control") }}
							<span class="input-addon">kWh/100 km</span>
						</div>
						{{ form.ecar_weight.label(class="form-control-label label-margin") }}
						<div class="input-group input-margins">
						{{ form.ecar_weight(class="form-control") }}
							<span class="input-addon">kg</span>
						</div>
						<!--
						<div>
							Service interval
						</div>
						<div>
							Service price
						</div>
						<div>
							Range
						</div>
						-->
						{{ form.ecar_co2.label(class="form-control-label label-margin") }}
						<div class="input-group input-margins">
						{{ form.ecar_co2(class="form-control") }}
							<span class="input-addon">g/km</span>
						</div>
						<!--
						<div id="ecar-battery" class="input-margins">
							Battery size
						</div>
						-->
					</div>
				</div>
				<!-- End of EV Car information -->

				<!-- Gasoline Car information -->
				<div class="col">
					<div class=" form-box g-top">
						<div class="box-header">
							<h4>Gasoline</h4>
						</div>
						<div id="gcar-full-model" class=" text-muted full-models">
							<!-- Gasoline full model information updated by JS -->
						</div>
						{{ form.gcar_price.label(class="form-control-label label-margin") }}
						<div class="input-group input-margins">
						{{ form.gcar_price(class="form-control") }}
							<span class="input-addon">€</span>
						</div>
						{{ form.gcar_consumption.label(class="form-control-label label-margin") }}
						<div class="input-group input-margins">
						{{ form.gcar_consumption(class="form-control") }}
							<span class="input-addon">l/100km</span>
						</div>
						<!--
						<div>
							Service interval
						</div>
						<div>
							Service price
						</div>
						-->
						{{ form.gcar_co2.label(class="form-control-label label-margin")}}
						<div class="input-group input-margins">
						{{ form.gcar_co2(class="form-control") }}
							<span class="input-addon">g/km</span>
						</div>
						
					</div>
				</div>
				<!-- End of gasoline Car information -->

				<!-- Diesel Car information -->
				<div class="col">
					<div class="form-box d-top">
						<div class="box-header">
							<h4>Diesel</h4>
						</div>

						<div id="dcar-full-model" class=" text-muted full-models">
							<!-- Diesel full model information updated by JS -->
						</div>

						{{ form.dcar_price.label(class="form-control-label label-margin") }}
						<div class="input-group input-margins">
						{{ form.dcar_price(class="form-control") }}
							<span class="input-addon">€</span>
						</div>
						{{ form.dcar_consumption.label(class="form-control-label label-margin") }}
						<div class="input-group input-margins">
						{{ form.dcar_consumption(class="form-control") }}
							<span class="input-addon">l/100km</span>
						</div>
						{{ form.dcar_weight.label(class="form-control-label label-margin") }}
						<div class="input-group input-margins">
						{{ form.dcar_weight(class="form-control") }}
							<span class="input-addon">kg</span>
						</div>
						<!--
						<div>
							Service interval
						</div>
						<div>
							Service price
						</div>
						-->
						{{ form.dcar_co2.label(class="form-control-label label-margin")}}
						<div class="input-group input-margins">
						{{ form.dcar_co2(class="form-control") }}
							<span class="input-addon">g/km</span>
						</div>
						
					</div>
				</div>
				<!-- End of diesel Car information -->
			</div>
		<!-- End of Car information row -->
		<div class="form-borders"></div>

		<div class="text-center">
			<h3 id="operational-hide" class="form-textbox">Operating costs</h3>
		</div>
		<div class="form-borders"></div>
		<!-- Row of operational costs -->
		<div id="operational-info" class="flex-form-container">
			<!-- EV operational costs section -->
			<div class="col">
				<div class="form-box e-top">
					<div class="box-header">
						<h4>Electric</h4>
					</div>
					{{ form.ecar_depr.label(class="form-control-label label-margin") }}
					<div class="input-group input-margins">
					{{ form.ecar_depr(class="form-control") }}
						<span class="input-addon">% / year</span>
					</div>
					{{ form.ecar_eprice.label(class="form-control-label label-margin") }}
					<div class="input-group input-margins">
					{{ form.ecar_eprice(class="form-control") }}
						<span class="input-addon">€/kWh</span>
					</div>
					{{ form.ecar_subsidy.label(class="form-control-label label-margin") }}
					<div class="input-group input-margins">
					{{ form.ecar_subsidy(class="form-control") }}
						<span class="input-addon">€</span>
					</div>
					{{ form.ecar_charger.label(class="form-control-label label-margin") }}
					<div class="input-margins">
						{% for subfield in form.ecar_charger%}
						<tr>
							<td>{{ subfield }} </td>
							<td>{{ subfield.label(style="font-weight: 400") }} </td>
						</tr>
						{% endfor %}
					</div>
				</div>				
			</div>
			<!-- End of  EV operational costs section -->

			<!-- Gasoline operational costs section -->
			<div class="col">
				<div class="form-box g-top">
					<div class="box-header">
						<h4>Gasoline</h4>
					</div>
					{{ form.gcar_depr.label(class="form-control-label label-margin") }}
					<div class="input-group input-margins">
					{{ form.gcar_depr(class="form-control") }}
						<span class="input-addon">% / year</span>
					</div>
					{{ form.gcar_gprice.label(class="form-control-label label-margin") }}
					<div class="input-group input-margins">
					{{ form.gcar_gprice(class="form-control") }}
						<span class="input-addon">€/l</span>
					</div>
				</div>
			</div>
			<!-- End of gasoline operational costs section -->

			<!-- Diesel operational costs section -->
			<div class="col">
				<div class="form-box d-top">
					<div class="box-header">
						<h4>Diesel</h4>
					</div>
					{{ form.dcar_depr.label(class="form-control-label label-margin") }}
					<div class="input-group input-margins">
					{{ form.dcar_depr(class="form-control") }}
						<span class="input-addon">% / year</span>
					</div>
					{{ form.dcar_dprice.label(class="form-control-label label-margin") }}
					<div class="input-group input-margins">
					{{ form.dcar_dprice(class="form-control") }}
						<span class="input-addon">€/l</span>
					</div>
	
				</div>	
			</div>
			<!-- End of diesel operational costs section -->

		</div>
		<!-- End of row of operational costs -->
		<div class="form-borders"></div>
	</form>
	<!-- Result cards -->

	
		<div class="col-lg-12">
			<h3>Results</h3>
		</div>
		<div class="flex-form-container" id="results">
		<!-- EV result card -->
		<div class="col">
			<div class="form-box result-box">
				<div class="ecard">
					<h2>Electric</h2>
					<div id="ecard-full-model" class=" text-muted full-models">
						<!-- EV full model information updated by JS -->
					</div>
				</div>
				
				<div class="subtext">
					Costs and value after <span class="owntime"></span> years
				</div>
				<div class="operational-result">
					<div class="text-muted">Driving this car costs</div>
					<span id="ecar-oper-yearly"></span> €
					<div class="text-muted">per year</div>
				</div>
				<div class="text-center-left">
					<ul>
						<li>
							<span id="ecar-oper-total" class="text-bold"></span> € total operational costs
						</li>
						<li>
							<span id="ecar-costs-total" class="text-bold"></span> € total costs
						</li>
						<li class="text-muted">
							<span id="ecar-depr-total"></span> € depreciated value
						</li>
						<li class="text-muted">
							<span id="ecar-resell-value"></span> € car resell value
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End of EV result card -->

		<!-- Gasoline result card -->
		<div class="col">
			<div class="form-box result-box">
				<div class="gcard">
					<h2>Gasoline</h2>
					<div id="gcard-full-model" class=" text-muted full-models">
						<!-- Gasoline full model information updated by JS -->
					</div>
				</div>
				<div class="subtext">
					Costs and value after <span class="owntime"></span> years
				</div>
				<div class="operational-result">
					<div class="text-muted muted">Driving this car costs</div>
					<span id="gcar-oper-yearly"></span> €
					<div class="text-muted">per year</div>
				</div>
				<div class="text-center-left">
					<ul>
						<li>
							<span id="gcar-oper-total" class="text-bold"></span> € total operational costs
						</li>
						<li>
								<span id="gcar-costs-total" class="text-bold"></span> € total costs
						</li>
						<li class="text-muted">
							<span id="gcar-depr-total"></span> € depreciated value
						</li>
						<li class="text-muted">
							<span id="gcar-resell-value"></span> € car resell value
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End of gasoline result card -->

		<!-- Diesel result card -->
		<div class="col">
			<div class="form-box result-box">
				<div class="dcard">
					<h2>Diesel</h2>
					<div id="dcard-full-model" class=" text-muted full-models">
						<!-- Diesel full model information updated by JS -->
					</div>
				</div>
				<div class="subtext">
					Costs and value after <span class="owntime"></span> years
				</div>
				<div class="operational-result">
					<div class="text-muted">Driving this car costs</div>
					<span id="dcar-oper-yearly"></span> €
					<div class="text-muted">per year</div>
				</div>
				<div class="text-center-left">
					<ul>
						<li>
							<span id="dcar-oper-total" class="text-bold"></span> € total operational costs
						</li>
						<li>
							<span id="dcar-costs-total" class="text-bold"></span> € total costs
						</li>
						<li class="text-muted">
							<span id="dcar-depr-total"></span> € depreciated value
						</li>
						<li class="text-muted">
							<span id="dcar-resell-value"></span> € car resell value
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- End of result cards -->

{% endblock %}