{% extends "layout.html" %}

{% block title %}Cars{% endblock %}
{%block carscript %}<script type="text/javascript" src="{{ url_for('static', filename='js/cars.js') }} " defer></script> {% endblock %}


{% block content%}
	<div class="row">
		<div class="col-lg-12">
			<h2>Cars</h2>
			<h4>Total cost of ownership calculator for cars</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<p>Here you can calculate the yearly costs of using different cars and propulsion types. The operative calculations include <a href="https://www.traficom.fi/en/transport/road/structure-and-quantity-vehicle-tax">Finnish car taxation.</a></p>
			<p>Car weight is used to calculate the drive power tax when applicable. More details can be found from <a href="https://www.traficom.fi/en/transport/road/structure-and-quantity-vehicle-tax">Traficom</a> site.</p>
		</div>
	</div>

	<form action="{{ url_for('cars') }}" method="post">
		<div class="row">
			<div class="col-lg-4 form-group text-center">
				<div class="form-box e-top">
					<div>
						{{ car_form.ecar_model.label(class="form-control-label label-margin") }}
						<br>
						
						<div class="select-box">
							{{ car_form.ecar_model(class="form-control") }}
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 form-group text-center">
				<div class="form-box g-top">
					<div>
						{{ car_form.gcar_model.label(class="form-control-label label-margin") }}
						<br>
						
						<div class="select-box">
							{{ car_form.gcar_model(class="form-control") }}
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 form-group text-center">
				<div class="form-box d-top">
					<div>
						{{ car_form.dcar_model.label(class="form-control-label label-margin") }}
						<br>
						
						<div class="select-box">
							{{ car_form.dcar_model(class="form-control") }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div class="row">
		<div class="col-lg-12">
			<div class="btn-margin">
			{{ form.submit(class="btn btn-primary big-btn") }}
			</div>
		</div>
	</div>

	<form action="" method="">
	
		<!-- General information form -->
		<div class="row">
			<div class="col-lg-12">
				<h3>Ownership information</h3>	
			</div>
			<div class="col-lg-4 form-group text-center">
				<div class="form-box general-top">
					{{ form.owntime.label(class="form-control-label label-margin") }}
					<br>
					<div class="input-group input-margins">
					{{ form.owntime(class="form-control") }}
					<div class="input-group-addon addon-width">
							years
						</div>
					</div>
					{{ form.drivekm.label(class="form-control-label label-margin") }}
					<br>
					<div class="input-group input-margins">
					{{ form.drivekm(class="form-control") }}
					<div class="input-group-addon addon-width">
							km/year
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--  End of general information-->
		
		<div class="row">
			<div class="col-lg-12">
				<h3 id="car-hide" class="form-textbox">Car information <img src="{{ url_for('static', filename='img/arrow_small.png') }}" alt="down arrow"></h3>	
			</div>
		</div>

			<div class="form-borders"></div>
			<!-- Car information row -->
			<div id="car-info" class="row">
				
				<!-- EV Car information -->
				<div class="col-lg-4 text-center form-group">
					<div class="form-box e-top">
						<div class="box-header">
							<h4>Electric</h4>
						</div>
						<div id="ecar-full-model" class="text-muted">
							test
						</div>
						{{ form.ecar_price.label(class="form-control-label label-margin") }}
						<br>
						<div class="input-group input-margins">
						{{ form.ecar_price(class="form-control") }}
							<div class="input-group-addon addon-width">
								€
							</div>
						</div>
						{{ form.ecar_consumption.label(class="form-control-label label-margin") }}
						<br>
						<div class="input-group input-margins">
						{{ form.ecar_consumption(class="form-control") }}
							<div class="input-group-addon addon-width">
								kWh/100 km
							</div>
						</div>
						{{ form.ecar_weight.label(class="form-control-label label-margin") }}
						<br>
						<div class="input-group input-margins">
						{{ form.ecar_weight(class="form-control") }}
							<div class="input-group-addon addon-width">
								kg
							</div>
						</div>
						<!--
						{{ form.ecar_tax.label(class="form-control-label label-margin") }}<br>
						<div class="input-group input-margins">
						{{ form.ecar_tax(class="form-control") }}
							<div class="input-group-addon addon-width">
								€/year
							</div>
						</div>
						-->
						<!--
						<div>
							Service interval
						</div>
						<div>
							Service price
						</div>
						<div>
							Range
						</div>
						-->
						{{ form.ecar_co2.label(class="form-control-label label-margin") }}
						<br>
						<div class="input-group input-margins">
						{{ form.ecar_co2(class="form-control") }}
							<div class="input-group-addon addon-width">
								g/km
							</div>
						</div>
						<div id="ecar-battery" class="input-margins">
							Battery size
						</div>
						
					</div>
				</div>
				<!-- End of EV Car information -->

				<!-- Gasoline Car information -->
				<div class="col-lg-4 text-center form-group">
					<div class=" form-box g-top">
						<div class="box-header">
							<h4>Gasoline</h4>
						</div>
						{{ form.gcar_price.label(class="form-control-label label-margin") }}
						<br>
						<div class="input-group input-margins">
						{{ form.gcar_price(class="form-control") }}
							<div class="input-group-addon addon-width">
								€
							</div>
						</div>
						{{ form.gcar_consumption.label(class="form-control-label label-margin") }}
						<br>
						<div class="input-group input-margins">
						{{ form.gcar_consumption(class="form-control") }}
							<div class="input-group-addon addon-width">
								l/100km
							</div>
						</div>
						<!--
						{{ form.gcar_tax.label(class="form-control-label label-margin") }}
						<br>
						<div class="input-group input-margins">
						{{ form.gcar_tax(class="form-control") }}
							<div class="input-group-addon addon-width">
								€/year
							</div>
						</div>
						-->
						<!--
						<div>
							Service interval
						</div>
						<div>
							Service price
						</div>
						-->
						{{ form.gcar_co2.label(class="form-control-label label-margin")}}
						<br>
						<div class="input-group input-margins">
						{{ form.gcar_co2(class="form-control") }}
							<div class="input-group-addon addon-width">
								g/km
							</div>
						</div>
						
					</div>
				</div>
				<!-- End of gasoline Car information -->

				<!-- Diesel Car information -->
				<div class="col-lg-4 text-center form-group">
					<div class="form-box d-top">
						<div class="box-header">
							<h4>Diesel</h4>
						</div>
						{{ form.dcar_price.label(class="form-control-label label-margin") }}
						<br>
						<div class="input-group input-margins">
						{{ form.dcar_price(class="form-control") }}
							<div class="input-group-addon addon-width">
								€
							</div>
						</div>
						{{ form.dcar_consumption.label(class="form-control-label label-margin") }}
						<br>
						<div class="input-group input-margins">
						{{ form.dcar_consumption(class="form-control") }}
							<div class="input-group-addon addon-width">
								l/100km
							</div>
						</div>
						{{ form.dcar_weight.label(class="form-control-label label-margin") }}
						<br>
						<div class="input-group input-margins">
						{{ form.dcar_weight(class="form-control") }}
							<div class="input-group-addon addon-width">
								kg
							</div>
						</div>
						<!--
						{{ form.dcar_tax.label(class="form-control-label label-margin") }}
						<br>
						<div class="input-group input-margins">
						{{ form.dcar_tax(class="form-control") }}
							<div class="input-group-addon addon-width">
								€/year
							</div>
						</div>
						-->
						<!--
						<div>
							Service interval
						</div>
						<div>
							Service price
						</div>
						-->
						{{ form.dcar_co2.label(class="form-control-label label-margin")}}
						<br>
						<div class="input-group input-margins">
						{{ form.dcar_co2(class="form-control") }}
							<div class="input-group-addon addon-width">
								g/km
							</div>
						</div>
						
					</div>
				</div>
				<!-- End of diesel Car information -->
			</div>
		<!-- End of Car information row -->
		<div class="form-borders"></div>

		<div class="row">
			<div class="col-lg-12">
				<h3 id="operational-hide"class="form-textbox">Operating costs <img src="{{ url_for('static', filename='img/arrow_small.png') }}" alt="down arrow"></h3>
			</div>
		</div>

		<div class="form-borders"></div>
		<!-- Row of operational costs -->
		<div id="operational-info" class="row">
			<!-- EV operational costs section -->
			<div class="col-lg-4 text-center form-group">
				<div class="form-box e-top">
					<div class="box-header">
						<h4>Electric</h4>
					</div>
					{{ form.ecar_depr.label(class="form-control-label label-margin") }}
					<br>
					<div class="input-group input-margins">
					{{ form.ecar_depr(class="form-control") }}
						<div class="input-group-addon addon-width">
							% / year
						</div>
					</div>
					{{ form.ecar_eprice.label(class="form-control-label label-margin") }}
					<br>
					<div class="input-group input-margins">
					{{ form.ecar_eprice(class="form-control") }}
						<div class="input-group-addon addon-width">
							€/kWh
						</div>
					</div>
					{{ form.ecar_subsidy.label(class="form-control-label label-margin") }}
					<br>
					<div class="input-group input-margins">
					{{ form.ecar_subsidy(class="form-control") }}
						<div class="input-group-addon addon-width">
							€
						</div>
					</div>
					{{ form.ecar_charger.label(class="form-control-label label-margin") }}
					<br>
					<div class="input-margins">
						{% for subfield in form.ecar_charger%}
						<tr>
							<td>{{ subfield }} </td>
							<td>{{ subfield.label(style="font-weight: 400") }} </td>
						</tr>
						{% endfor %}
					</div>
				</div>				
			</div>
			<!-- End of  EV operational costs section -->

			<!-- Gasoline operational costs section -->
			<div class="col-lg-4 text-center form-group">
				<div class="form-box g-top">
					<div class="box-header">
						<h4>Gasoline</h4>
					</div>
					{{ form.gcar_depr.label(class="form-control-label label-margin") }}
					<br>
					<div class="input-group input-margins">
					{{ form.gcar_depr(class="form-control") }}
						<div class="input-group-addon addon-width">
							% / year
						</div>
					</div>
					{{ form.gcar_gprice.label(class="form-control-label label-margin") }}
					<br>
					<div class="input-group input-margins">
					{{ form.gcar_gprice(class="form-control") }}
						<div class="input-group-addon addon-width">
							€/l
						</div>
					</div>
				</div>
			</div>
			<!-- End of gasoline operational costs section -->

			<!-- Diesel operational costs section -->
			<div class="col-lg-4 text-center form-group">
				<div class="form-box d-top">
					<div class="box-header">
						<h4>Diesel</h4>
					</div>
					{{ form.dcar_depr.label(class="form-control-label label-margin") }}
					<br>
					<div class="input-group input-margins">
					{{ form.dcar_depr(class="form-control") }}
						<div class="input-group-addon addon-width">
							% / year
						</div>
					</div>
					{{ form.dcar_dprice.label(class="form-control-label label-margin") }}
					<br>
					<div class="input-group input-margins">
					{{ form.dcar_dprice(class="form-control") }}
						<div class="input-group-addon addon-width">
							€/l
						</div>
					</div>
	
				</div>	
			</div>
			<!-- End of diesel operational costs section -->

		</div>
		<!-- End of row of operational costs -->
		<div class="form-borders"></div>
	</form>
	<!-- Result cards -->

	<div class="row row-light" id="results">
		<div class="col-lg-12">
			<h3>Results</h3>
		</div>

		<!-- EV result card -->
		<div class="col-lg-4 text-center form-group">
			<div class="form-box">
				<div class="ecard">
					<h4>Electric</h4>
				</div>
				<div class="text-muted">
					Costs and value after <span class="owntime"></span> years
				</div>
				<br>
				<div>
					<span class="text-muted muted">Operational costs</span>
					<br>
					<b><span id="ecar-oper-yearly"></span> €</b>
					<br>
					<span class="text-muted muted">per year</span>
				</div>
				<br>
				<div class="text-center-left">
					<ul>
						<li>
							<b><span id="ecar-oper-total"></span></b> operational costs
						</li>
						<li>
							<b><span id="ecar-depr-total"></span>€</b> depreciated value
						</li>
						<br>
						<li>
							<b><span id="ecar-costs-total"></span> €</b> total costs
						</li>
						<li>
							<b><span id="ecar-resell-value"></span> €</b> car resell value
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End of EV result card -->

		<!-- Gasoline result card -->
		<div class="col-lg-4 text-center form-group">
			<div class="form-box">
				<div class="gcard">
					<h4>Gasoline</h4>
				</div>
				<div class="text-muted">
					Costs and value after <span class="owntime"></span> years
				</div>
				<br>
				<div>
					<span class="text-muted muted">Operational costs</span>
					<br>
					<b><span id="gcar-oper-yearly"></span> €</b>
					<br>
					<span class="text-muted muted">per year</span>
				</div>
				<br>
				<div class="text-center-left">
					<ul>
						<li>
							<b><span id="gcar-oper-total"></span> €</b> total operational costs
						</li>
						<li>
							<b><span id="gcar-depr-total"></span> €</b> depreciated value
						</li>
						<br>
						<li>
							<b><span id="gcar-costs-total"></span> €</b> total costs
						</li>
						<li>
							<b><span id="gcar-resell-value"></span> €</b> car resell value
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End of gasoline result card -->

		<!-- Diesel result card -->
		<div class="col-lg-4 text-center form-group">
			<div class="form-box">
				<div class="dcard">
					<h4>Diesel</h4>
				</div>
				<div class="text-muted">
					Costs and value after <span class="owntime"></span> years
				</div>
				<br>
				<div>
					<span class="text-muted muted">Operational costs</span>
					<br>
					<b><span id="dcar-oper-yearly"></span> €</b>
					<br>
					<span class="text-muted muted">per year</span>
				</div>
				<br>
				<div class="text-center-left">
					<ul>
						<li>
							<b><span id="dcar-oper-total"></span> €</b> total operational costs
						</li>
						<li>
							<b><span id="dcar-depr-total"></span> €</b> depreciated value
						</li>
						<br>
						<li>
							<b><span id="dcar-costs-total"></span> €</b> total costs
						</li>
						<li>
							<b><span id="dcar-resell-value"></span> €</b> car resell value
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End of result cards -->

{% endblock %}